# Data gathering

## 1) Artist information

In [132]:
import pandas as pd
import numpy as np
import time
#!pip install pygeocoder
#from pygeocoder import Geocoder #If you want to follow the geocoding later, you will need your own Google Maps API key
#import matplotlib.pyplot as plt
#%matplotlib inline
from tqdm import tqdm

In [2]:
artists= pd.read_csv('Musicbrainz/Tables_used/artist.txt',sep='\t', header=None, engine='c', usecols=[0,1,2,11,17])
artists.columns = ['artist_id','artist_mbid','artist_name','start_area1', 'start_area2']
artists.head()

,artist_id,artist_mbid,artist_name,start_area1,start_area2
0,805192,8972b1c1-6482-4750-b51f-596d2edea8b1,WIK▲N,NaN,NaN
1,371203,49add228-eac5-4de8-836c-d75cde7369c3,Pete Moutso,NaN,NaN
2,273232,c112a400-af49-4665-8bba-741531d962a1,Zachary,NaN,NaN
3,101060,ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b,The Silhouettes,222.0,7707.0
4,145773,7b4a548e-a01a-49b7-82e7-b49efeb9732c,Aric Leavitt,NaN,NaN

In [3]:
#Let's see how many artists we have:
artists['artist_id'].nunique()

1476425

In [4]:
#How much info we have for each artist?
artists.isnull().sum(axis=0)

artist_id            0
artist_mbid          0
artist_name          8
start_area1     808442
start_area2    1274001
dtype: int64

What are the "start_area1" and "start_area2"? If we look at Musicbrainz's field description for each artist (https://musicbrainz.org/doc/Artist), we can see that:

Area: The artist area, as the name suggests, indicates the area with which an artist is primarily identified with. It is often, but not always, its birth/formation country.

We will keep this information as the artist's origin for later.

We need to incorporate as well the table called "artist credit", which gives us the artist credit_id. We will use this field to join later on each release with its artist:

In [5]:
artists_credit= pd.read_csv('Musicbrainz/Tables_used/artist_credit_name.txt',sep='\t', header=None, engine='c', usecols=[0,2,3])
artists_credit.columns = ['credit_id','artist_id','artist_name']
artists_credit.head()

   credit_id  artist_id             artist_name
0     578352     578352           Gustav Ruppke
1     273232     273232                 Zachary
2     153193     153193  The High Level Ranters
3      32262      32262        Georges Brassens
4    1389968    1171184    Harvard of the South

In [6]:
#Let's join the artists with their credit id and verify that the matching is good:
df = pd.merge(artists, artists_credit, how='left', on='artist_id')
df.head()

,artist_id,artist_mbid,artist_name_x,start_area1,start_area2,credit_id,artist_name_y
0,805192,8972b1c1-6482-4750-b51f-596d2edea8b1,WIK▲N,NaN,NaN,822846.0,WIK▲N
1,371203,49add228-eac5-4de8-836c-d75cde7369c3,Pete Moutso,NaN,NaN,NaN,NaN
2,273232,c112a400-af49-4665-8bba-741531d962a1,Zachary,NaN,NaN,273232.0,Zachary
3,101060,ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b,The Silhouettes,222.0,7707.0,101060.0,The Silhouettes
4,145773,7b4a548e-a01a-49b7-82e7-b49efeb9732c,Aric Leavitt,NaN,NaN,145773.0,Aric Leavitt

In [7]:
#It looks like it makes sense. Please note that the credit id is sometimes equal to the artist_id, but not always:
df['check'] = df['artist_id'] - df['credit_id']
df['check'].nunique()

1270628

In [8]:
df.isnull().sum(axis=0)

artist_id              0
artist_mbid            0
artist_name_x         15
start_area1      1120376
start_area2      2109027
credit_id         461241
artist_name_y     461253
check             461241
dtype: int64

In [9]:
#We can now get rid of check and the duplicate artist_name column:
df.drop(labels=['check','artist_name_y'], axis=1, inplace=True)
df.head()

,artist_id,artist_mbid,artist_name_x,start_area1,start_area2,credit_id
0,805192,8972b1c1-6482-4750-b51f-596d2edea8b1,WIK▲N,NaN,NaN,822846.0
1,371203,49add228-eac5-4de8-836c-d75cde7369c3,Pete Moutso,NaN,NaN,NaN
2,273232,c112a400-af49-4665-8bba-741531d962a1,Zachary,NaN,NaN,273232.0
3,101060,ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b,The Silhouettes,222.0,7707.0,101060.0
4,145773,7b4a548e-a01a-49b7-82e7-b49efeb9732c,Aric Leavitt,NaN,NaN,145773.0

## 2) Release information

The objective of this project is to visualize when each artist released for the first time a certain CD/Album/Single etc.

If we look at the "releases" table:

In [10]:
releases = pd.read_csv('Musicbrainz/Tables_used/release.txt',sep='\t', header=None, engine='c', usecols=[0,2,3])
releases.columns = ['release_id','release_group','credit_id']
releases.head()

   release_id           release_group  credit_id
0           9       A Sorta Fairytale         60
1          10       A Sorta Fairytale         60
2          11       Glory of the 80's         60
3          12  Silent All These Years         60
4          26                  Demons      20211

We can see, in the first 2 rows, that the same CD/Album can be released/remastered many times. According to Musicbrainz's field description for each release (https://musicbrainz.org/doc/Release):

"A MusicBrainz release represents the unique release (i.e. issuing) of a product on a specific date with specific release information such as the country, label, barcode and packaging. If you walk into a store and purchase an album or single, they are each represented in MusicBrainz as one release".

If we look at another release-related field in Musicbrainz, we find the "release group" (https://musicbrainz.org/doc/Release_Group):

"A release group, just as the name suggests, is used to group several different releases into a single logical entity. Every release belongs to one, and only one release group.

Both release groups and releases are "albums" in a general sense, but with an important difference: a release is something you can buy as media such as a CD or a vinyl record, while a release group embraces the overall concept of an album -- it doesn't matter how many CDs or editions/versions it had."

By reading these descriptions, we can clearly see that the release group is the table we are looking for as it represents a single creation, no matter how many times it has been edited or released afterwards. So we will have to keep the first release id for each release group.

In [11]:
release_country = pd.read_csv('Musicbrainz/Tables_used/release_country.txt',sep='\t', header=None, engine='c', usecols=[0,1,2])
release_country.columns = ['release_id','area_id','release_year']
release_country.head()

   release_id  area_id  release_year
0           3       81        1997.0
1     1427792      107        2014.0
2           9       81        2002.0
3          10      221        2002.0
4          11       81        1999.0

In [12]:
df2 = pd.merge(releases, release_country, how='left', on='release_id')
df2.head()

   release_id           release_group  credit_id  area_id  release_year
0           9       A Sorta Fairytale         60     81.0        2002.0
1          10       A Sorta Fairytale         60    221.0        2002.0
2          11       Glory of the 80's         60     81.0        1999.0
3          12  Silent All These Years         60     81.0        1997.0
4          26                  Demons      20211    107.0        1998.0

In [13]:
#Let's see how many releases we have:
df2['release_id'].nunique()

2198457

In [14]:
df2.isnull().sum(axis=0)

release_id            0
release_group         7
credit_id             0
area_id          287376
release_year     341983
dtype: int64

In [15]:
#We want to keep only the releases which have a release year, so we can drop the others:
df2.dropna(subset=['release_year'], axis=0, inplace=True)
df2['release_year'] = df2.release_year.astype(int,inplace=True)
df2['release_id'].nunique()

1859982

In [16]:
#Let's analyze the year column:
pd.options.display.max_rows = 2000
df2.groupby('release_year').count()

              release_id  release_group  credit_id  area_id
release_year
1                      2              2          2        2
4                      1              1          1        1
5                      5              5          5        5
7                      1              1          1        1
8                      2              2          2        2
10                     3              3          3        3
14                     1              1          1        1
17                     4              4          4        4
18                     1              1          1        1
19                     3              3          3        3
20                     2              2          2        2
21                     1              1          1        1
23                     1              1          1        1
24                     1              1          1        1
25                     2              2          2        2
28                     2              2          2        2
29                     2              2          2        2
31                     2              2          2        2
73                     1              1          1        1
195                    1              1          1        1
198                    1              1          1        1
199                    2              2          2        2
200                    4              4          4        4
201                    4              4          4        4
209                    2              2          2        2
666                    1              1          1        1
701                    1              1          1        1
996                    1              1          1        1
1009                   1              1          1        1
1029                   1              1          1        1
1198                   1              1          1        1
1694                   1              1          1        1
1886                   1              1          1        1
1889                   1              1          1        1
1890                 249            249        249      249
1891                  11             11         11       11
1892                 130            130        130      130
1893                 183            183        183      183
1894                  29             29         29       29
1895                   2              2          2        2
1896                   6              6          6        6
1897                  65             65         65       65
1898                 183            183        183      183
1899                 281            281        281      281
1900                 131            131        131      131
1901                 199            199        199      199
1902                 234            234        234      234
1903                 196            196        196      196
1904                 155            155        155      155
1905                 163            163        163      163
1906                 154            154        154      154
1907                 171            171        171      171
1908                 212            212        212      212
1909                 187            187        187      187
1910                 115            115        115      115
1911                  54             54         54       54
1912                  37             37         37       37
1913                  13             13         13       13
1914                  22             22         22       22
1915                  12             12         12       12
1916                  26             26         26       26
1917                 135            135        135      135
1918                  87             87         87       87
1919                  46             46         46       46
1920                 102            102        102      102
1921                  25             25         25       25
1922                  43             43         43       43
1923                  45             45         45       45
1924                  58             58         58       58
1925                  58             58         58       58
1926                  74             74         74       74
1927                 108            108        108      108
1928                 130            130        130      130
1929                 168            168        168      168
1930                 217            217        217      217
1931                  80             80         80       80
1932                  52             52         52       52
1933                  63             63         63       63
1934                 103            103        103      103
1935                 129            129        129      129
1936                  99             99         99       99
1937                 150            150        150      150
1938                 107            107        107      107
1939                 108            108        108      108
1940                 111            111        111      111
1941                 134            134        134      134
1942                 111            111        111      111
1943                  36             36         36       36
1944                  69             69         69       69
1945                 139            139        139      139
1946                 143            143        143      143
1947                 155            155        155      155
1948                 109            109        109      109
1949                 231            231        231      231
1950                 214            214        214      214
1951                 215            215        215      215
1952                 228            228        228      228
1953                 289            289        289      289
1954                 420            420        420      420
1955                 647            647        647      647
1956                 937            937        937      937
1957                1060           1060       1060     1060
1958                1217           1217       1217     1217
1959                1344           1344       1344     1344
1960                1371           1371       1371     1371
1961                1528           1528       1528     1528
1962                1671           1671       1671     1671
1963                1798           1798       1798     1798
1964                2267           2267       2267     2267
1965                2550           2550       2550     2550
1966                2835           2835       2835     2835
1967                3183           3183       3183     3183
1968                3480           3480       3480     3480
1969                3684           3684       3684     3684
1970                3987           3987       3987     3987
1971                3999           3999       3999     3999
1972                4372           4372       4372     4372
1973                4524           4524       4524     4524
1974                4424           4424       4424     4424
1975                4826           4826       4826     4826
1976                4979           4979       4979     4979
1977                5607           5607       5607     5607
1978                6269           6269       6269     6269
1979                6787           6787       6787     6787
1980                7333           7333       7333     7333
1981                7452           7452       7452     7452
1982                8729           8729       8729     8729
1983                9377           9377       9377     9377
1984               10405          10405      10405    10405
1985               11182          11182      11182    11182
1986               12745          12745      12745    12745
1987               16087          16087      16087    16087
1988               18453          18453      18453    18453
1989               20439          20439      20439    20439
1990               23182          23182      23182    23182
1991               24856          24856      24856    24856
1992               26783          26783      26783    26783
1993               30588          30588      30588    30588
1994               34480          34480      34480    34480
1995               37892          37892      37892    37892
1996               40427          40427      40427    40427
1997               41786          41786      41786    41786
1998               43906          43906      43906    43906
1999               48186          48186      48186    48186
2000               49915          49915      49915    49915
2001               52662          52662      52662    52662
2002               53359          53359      53359    53359
2003               57219          57219      57219    57219
2004               61140          61140      61140    61140
2005               66773          66773      66773    66773
2006               71054          71054      71054    71054
2007               72586          72586      72586    72586
2008               73748          73748      73748    73748
2009               73511          73511      73511    73511
2010               74612          74612      74612    74612
2011               75284          75284      75284    75284
2012               80061          80061      80061    80061
2013               79955          79954      79955    79955
2014               79019          79019      79019    79019
2015               78157          78156      78157    78157
2016               77138          77137      77138    77138
2017               72613          72612      72613    72613
2018               58835          58834      58835    58835
2019                8405           8405       8405     8405
2021                   1              1          1        1
2033                   1              1          1        1
2035                   1              1          1        1
2036                   1              1          1        1
2037                   1              1          1        1
2090                   1              1          1        1
2105                   1              1          1        1
2107                   1              1          1        1
2108                   2              2          2        2
2201                   1              1          1        1

By looking at the different year values, and, in order to have enough values per year, we could drop the rows whose year is below 1890 and above 2019. Our visualization would have 130 years, which is pretty good.

In [17]:
df2.drop(df2[df2['release_year'] < 1890].index , inplace=True)
df2.drop(df2[df2['release_year'] >2019].index , inplace=True)
df2.sort_values(by=['release_year']).head()

,release_id,release_group,credit_id,area_id,release_year
1266766,386919,Visions of Paradise Waltz,97546,222.0,1890
1266956,386830,German Ballad with Variations,97546,222.0,1890
1266958,386829,German Ballad with Variations,97546,222.0,1890
1266960,386828,Mountain Bells Polka,97546,222.0,1890
1266961,386827,Mountain Bells Polka,97546,222.0,1890

In [18]:
#Converting the year column to datetime for later:
df2['release_year'] = pd.to_datetime(df2['release_year'].astype(str), format='%Y')
df2.dtypes

release_id                int64
release_group            object
credit_id                 int64
area_id                 float64
release_year     datetime64[ns]
dtype: object

In [19]:
#We sort by release id and year (we could have 2 release groups with the same name but produced by different artists):
df2.sort_values(['release_group','release_year','credit_id'], ascending=[True,True,True], inplace=True)
df2.head()

         release_id            release_group  credit_id  area_id release_year
2026273     2163750                             2205562    240.0   2014-01-01
1648516     1846605                             1503027    240.0   2015-01-01
1250325     1714060    Beaux Soirs De Paris     1324142     73.0   1995-01-01
2116340     2265346                    Le 1     2291833    240.0   2018-01-01
1748061     1895266   M2Music HitDisc Vol. 1          1    222.0   2006-01-01

In [20]:
df2[df2['release_group'] == 'Artaxerxes']

         release_id release_group  credit_id  area_id release_year
1836724     2378622    Artaxerxes    2392005    240.0   1996-01-01
1910376     2379252    Artaxerxes    2392005    221.0   2009-01-01
1909444     2379244    Artaxerxes    2392011    222.0   2011-01-01

In [21]:
#Now we can delete the duplicate releases and keep the ones who were first released:
df2.drop_duplicates(subset=['release_group','credit_id'],keep='first', inplace=True)
df2['release_id'].nunique()

1499614

In [23]:
#Just to double-check:
df2[df2['release_group'] == 'Artaxerxes']

         release_id release_group  credit_id  area_id release_year
1836724     2378622    Artaxerxes    2392005    240.0   1996-01-01
1909444     2379244    Artaxerxes    2392011    222.0   2011-01-01

## 3) Matching releases with artists

Now that we have both artist and releases dataframes, we can join them:

In [24]:
df3 = pd.merge(df2, df, how='left', on='credit_id')
df3.head()

,release_id,release_group,credit_id,area_id,release_year,artist_id,artist_mbid,artist_name_x,start_area1,start_area2
0,2163750,,2205562,240.0,2014-01-01,1654312.0,d10d6441-dcc1-4202-93bf-0c0acf72913a,Soul Glo,7707.0,NaN
1,1846605,,1503027,240.0,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN
2,1714060,Beaux Soirs De Paris,1324142,73.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN
3,2265346,Le 1,2291833,240.0,2018-01-01,1720981.0,a69efb5f-0b28-4328-8ff0-44d8d6f39755,TedeuzeM,68613.0,NaN
4,1895266,M2Music HitDisc Vol. 1,1,222.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN

In [25]:
df3.isnull().sum(axis=0)

release_id            0
release_group         4
credit_id             0
area_id               0
release_year          0
artist_id           151
artist_mbid         151
artist_name_x       155
start_area1      430452
start_area2      959581
dtype: int64

In [26]:
df3['release_id'].nunique()

1499614

In [27]:
len(df3)

1724524

In [28]:
df3[df3['release_group']=='Artaxerxes']

,release_id,release_group,credit_id,area_id,release_year,artist_id,artist_mbid,artist_name_x,start_area1,start_area2
119493,2378622,Artaxerxes,2392005,240.0,1996-01-01,391603.0,e3062782-ab7b-41bc-8e65-aeea16dc1a89,Ian Partridge,221.0,1178.0
119494,2378622,Artaxerxes,2392005,240.0,1996-01-01,124232.0,4e7f1926-8704-4545-a1a1-ded91651c884,Thomas Arne,221.0,1178.0
119495,2378622,Artaxerxes,2392005,240.0,1996-01-01,688791.0,f34e9da4-2ee7-4f27-aa34-adc5db791bec,Christopher Robson,NaN,NaN
119496,2378622,Artaxerxes,2392005,240.0,1996-01-01,1129787.0,c33f733e-2bf4-402b-9455-1a293601a1cd,Patricia Spence,NaN,NaN
119497,2378622,Artaxerxes,2392005,240.0,1996-01-01,1104538.0,5680c729-615b-47e2-969e-27a087c572fb,Philippa Hyde,221.0,NaN
119498,2378622,Artaxerxes,2392005,240.0,1996-01-01,402986.0,70af5d9a-c6e0-4fcf-9cde-4d3d00e0fcb0,The Parley of Instruments,221.0,1178.0
119499,2378622,Artaxerxes,2392005,240.0,1996-01-01,183632.0,954d1c83-259f-4a25-8878-10c19bb097af,Catherine Bott,221.0,NaN
119500,2378622,Artaxerxes,2392005,240.0,1996-01-01,87510.0,857588a5-b7aa-4f72-a87b-8f03dca60e30,Roy Goodman,221.0,30926.0
119501,2378622,Artaxerxes,2392005,240.0,1996-01-01,1078968.0,93da7aaa-250b-46e1-b5ef-0ad78d46dc3f,Richard Edgar‐Wilson,NaN,NaN
119502,2379244,Artaxerxes,2392011,222.0,2011-01-01,854064.0,a87f2b39-84c7-4888-935c-d41943bd7971,Classical Opera Company,221.0,NaN
119503,2379244,Artaxerxes,2392011,222.0,2011-01-01,124232.0,4e7f1926-8704-4545-a1a1-ded91651c884,Thomas Arne,221.0,1178.0
119504,2379244,Artaxerxes,2392011,222.0,2011-01-01,989288.0,4c05f6e6-7a40-437e-9f12-a90c1da7b4f8,Ian Page,221.0,NaN

If we look at the above, we can see that there is one line per each artist that participated for each release ID.

As we don't want to show duplicate releases, we need to keep only one artist per release. We will keep the first artist appearing for each release (even though we know this is not 100% accurate, but we have to avoid duplicates). This will afftect 224.910 rows under a total of 1.499.614 unique releases, so 14% of our dataset.

In [29]:
#Now we can delete the duplicate releases and keep the ones who were first released:
df3.drop_duplicates(subset=['release_id'],keep='first', inplace=True)
df3['release_id'].nunique()

1499614

In [30]:
len(df3)

1499614

## 4) Geographical data

The idea of the visualization is to see where each gender comes from, so, ideally, we would have to look at the artists origins (start area: last 2 columns of our dataframe).

In our dataframe df3, the 5th column "area_id" is related to the area where the release was produced. This isn't directly related to the origin of an artist/band, as many artists have to record their works in different countries/or areas.

Let's see for how many releases we have that information:

In [31]:
df3.isnull().sum(axis=0)

release_id            0
release_group         4
credit_id             0
area_id               0
release_year          0
artist_id           151
artist_mbid         151
artist_name_x       155
start_area1      404503
start_area2      876562
dtype: int64

In Musicbrainz's database, we have some tables related to the areas. Let's see how we can use them to input more geographical information into our dataframe:

In [32]:
areas = pd.read_csv('Musicbrainz/Tables_used/area.txt',sep='\t', header=None, engine='python', usecols=[0,2,3])
areas.columns = ['area_id','area_name','code_type']
areas.head()

   area_id area_name  code_type
0    15449   Greccio        4.0
1       38    Canada        1.0
2       43     Chile        1.0
3       44     China        1.0
4       36  Cambodia        1.0

In [33]:
#Let's see the area types we have:
area_types = pd.read_csv('Musicbrainz/Tables_used/area_type.txt',sep='\t', header=None, engine='python', usecols=[1,3,4], error_bad_lines=False)
area_types.columns = ['type','code_type','definition']
area_types.head(20)

           type  code_type                                         definition
0       Country          1  Country is used for areas included (or previou...
1   Subdivision          2  Subdivision is used for the main administrativ...
2        County          7  County is used for smaller administrative divi...
3  Municipality          4  Municipality is used for small administrative ...
4          City          3  City is used for settlements of any size, incl...
5      District          5  District is used for a division of a large cit...
6        Island          6  Island is used for islands and atolls which do...

In [34]:
#Add the area name and type to our main dataframe for the column "area_id":
df4 = pd.merge(df3, areas, how='left', on='area_id')
df4.head()

,release_id,release_group,credit_id,area_id,release_year,artist_id,artist_mbid,artist_name_x,start_area1,start_area2,area_name,code_type
0,2163750,,2205562,240.0,2014-01-01,1654312.0,d10d6441-dcc1-4202-93bf-0c0acf72913a,Soul Glo,7707.0,NaN,[Worldwide],NaN
1,1846605,,1503027,240.0,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN,[Worldwide],NaN
2,1714060,Beaux Soirs De Paris,1324142,73.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN,France,1.0
3,2265346,Le 1,2291833,240.0,2018-01-01,1720981.0,a69efb5f-0b28-4328-8ff0-44d8d6f39755,TedeuzeM,68613.0,NaN,[Worldwide],NaN
4,1895266,M2Music HitDisc Vol. 1,1,222.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN,United States,1.0

In [35]:
#Rearranging dataframe columns to have a clearer dataframe:
df4 = df4[['release_id','release_group','credit_id','area_id','area_name','code_type','release_year','artist_id','artist_mbid','artist_name_x','start_area1','start_area2']]
df4.rename(columns={'area_id':'release_area','area_name':'release_area_name','code_type':'release_code_type','start_area1':'area_id'}, inplace=True)
df4.head()

,release_id,release_group,credit_id,release_area,release_area_name,release_code_type,release_year,artist_id,artist_mbid,artist_name_x,area_id,start_area2
0,2163750,,2205562,240.0,[Worldwide],NaN,2014-01-01,1654312.0,d10d6441-dcc1-4202-93bf-0c0acf72913a,Soul Glo,7707.0,NaN
1,1846605,,1503027,240.0,[Worldwide],NaN,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN
2,1714060,Beaux Soirs De Paris,1324142,73.0,France,1.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN
3,2265346,Le 1,2291833,240.0,[Worldwide],NaN,2018-01-01,1720981.0,a69efb5f-0b28-4328-8ff0-44d8d6f39755,TedeuzeM,68613.0,NaN
4,1895266,M2Music HitDisc Vol. 1,1,222.0,United States,1.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN

In [36]:
#Add the start area name and type to our main dataframe for the column "area id"(which was "start area 1" before):
df5 = pd.merge(df4, areas, how='left', on='area_id')
df5.head()

,release_id,release_group,credit_id,release_area,release_area_name,release_code_type,release_year,artist_id,artist_mbid,artist_name_x,area_id,start_area2,area_name,code_type
0,2163750,,2205562,240.0,[Worldwide],NaN,2014-01-01,1654312.0,d10d6441-dcc1-4202-93bf-0c0acf72913a,Soul Glo,7707.0,NaN,Philadelphia,3.0
1,1846605,,1503027,240.0,[Worldwide],NaN,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN,NaN,NaN
2,1714060,Beaux Soirs De Paris,1324142,73.0,France,1.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN,NaN,NaN
3,2265346,Le 1,2291833,240.0,[Worldwide],NaN,2018-01-01,1720981.0,a69efb5f-0b28-4328-8ff0-44d8d6f39755,TedeuzeM,68613.0,NaN,Aix-en-Provence,3.0
4,1895266,M2Music HitDisc Vol. 1,1,222.0,United States,1.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN,NaN,NaN

In [37]:
#Rearranging dataframe columns to have a clearer dataframe:
df5 = df5[['release_id','release_group','credit_id','release_area','release_area_name','release_code_type','release_year','artist_id','artist_mbid','artist_name_x','area_id','area_name','code_type','start_area2']]
df5.rename(columns={'area_id':'artist_area1','area_name':'artist_area_name1','code_type':'artist_code_type1','start_area2':'area_id'}, inplace=True)
df5.head()

,release_id,release_group,credit_id,release_area,release_area_name,release_code_type,release_year,artist_id,artist_mbid,artist_name_x,artist_area1,artist_area_name1,artist_code_type1,area_id
0,2163750,,2205562,240.0,[Worldwide],NaN,2014-01-01,1654312.0,d10d6441-dcc1-4202-93bf-0c0acf72913a,Soul Glo,7707.0,Philadelphia,3.0,NaN
1,1846605,,1503027,240.0,[Worldwide],NaN,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN,NaN,NaN
2,1714060,Beaux Soirs De Paris,1324142,73.0,France,1.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN,NaN,NaN
3,2265346,Le 1,2291833,240.0,[Worldwide],NaN,2018-01-01,1720981.0,a69efb5f-0b28-4328-8ff0-44d8d6f39755,TedeuzeM,68613.0,Aix-en-Provence,3.0,NaN
4,1895266,M2Music HitDisc Vol. 1,1,222.0,United States,1.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN,NaN,NaN

In [38]:
#Add the start area 2 name and type to our main dataframe for the column "area id"(which was "start area 2" before):
df6 = pd.merge(df5, areas, how='left', on='area_id')
df6.head()

,release_id,release_group,credit_id,release_area,release_area_name,release_code_type,release_year,artist_id,artist_mbid,artist_name_x,artist_area1,artist_area_name1,artist_code_type1,area_id,area_name,code_type
0,2163750,,2205562,240.0,[Worldwide],NaN,2014-01-01,1654312.0,d10d6441-dcc1-4202-93bf-0c0acf72913a,Soul Glo,7707.0,Philadelphia,3.0,NaN,NaN,NaN
1,1846605,,1503027,240.0,[Worldwide],NaN,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN,NaN,NaN,NaN,NaN
2,1714060,Beaux Soirs De Paris,1324142,73.0,France,1.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN,NaN,NaN,NaN,NaN
3,2265346,Le 1,2291833,240.0,[Worldwide],NaN,2018-01-01,1720981.0,a69efb5f-0b28-4328-8ff0-44d8d6f39755,TedeuzeM,68613.0,Aix-en-Provence,3.0,NaN,NaN,NaN
4,1895266,M2Music HitDisc Vol. 1,1,222.0,United States,1.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
#Renaming columns:
df6.rename(columns={'area_id':'artist_area2','area_name':'artist_area_name2','code_type':'artist_code_type2'}, inplace=True)
df6.head()

,release_id,release_group,credit_id,release_area,release_area_name,release_code_type,release_year,artist_id,artist_mbid,artist_name_x,artist_area1,artist_area_name1,artist_code_type1,artist_area2,artist_area_name2,artist_code_type2
0,2163750,,2205562,240.0,[Worldwide],NaN,2014-01-01,1654312.0,d10d6441-dcc1-4202-93bf-0c0acf72913a,Soul Glo,7707.0,Philadelphia,3.0,NaN,NaN,NaN
1,1846605,,1503027,240.0,[Worldwide],NaN,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN,NaN,NaN,NaN,NaN
2,1714060,Beaux Soirs De Paris,1324142,73.0,France,1.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN,NaN,NaN,NaN,NaN
3,2265346,Le 1,2291833,240.0,[Worldwide],NaN,2018-01-01,1720981.0,a69efb5f-0b28-4328-8ff0-44d8d6f39755,TedeuzeM,68613.0,Aix-en-Provence,3.0,NaN,NaN,NaN
4,1895266,M2Music HitDisc Vol. 1,1,222.0,United States,1.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN,NaN,NaN,NaN,NaN

Now that we have the names of the different areas, let's check what kind of information we have in those columns.

As we said before, we prefer to keep the artist area preferably, as it represents more the real origin of the music.

1) Artist area 1:

In [40]:
df6.artist_area_name1.value_counts()

United States                                                 273415
United Kingdom                                                133067
Japan                                                          83908
Germany                                                        67463
France                                                         45927
Italy                                                          27215
Sweden                                                         24982
Canada                                                         23619
Finland                                                        21981
Netherlands                                                    18101
Australia                                                      17738
Spain                                                          16090
Russia                                                         13821
Brazil                                                         11142
Belgium                                                        10249
Austria                                                         8975
Poland                                                          8913
Norway                                                          8775
South Korea                                                     8004
Denmark                                                         7140
Argentina                                                       6576
Greece                                                          6398
London                                                          5926
Switzerland                                                     5839
Czech Republic                                                  5238
Los Angeles                                                     5235
Turkey                                                          5127
Mexico                                                          5107
Jamaica                                                         4866
Ireland                                                         4843
Hungary                                                         4641
Estonia                                                         4254
India                                                           4143
New Zealand                                                     4135
Puerto Rico                                                     3693
New York                                                        3596
Hong Kong                                                       3504
Berlin                                                          3410
Colombia                                                        3087
Israel                                                          2739
Portugal                                                        2488
Indonesia                                                       2477
South Africa                                                    2446
Taiwan                                                          2429
Ukraine                                                         2361
Quebec                                                          2226
Seattle                                                         2187
Philippines                                                     2171
Paris                                                           2060
Chicago                                                         2023
[Worldwide]                                                     1981
Romania                                                         1956
Slovenia                                                        1717
Latvia                                                          1711
Slovakia                                                        1698
Chile                                                           1633
Melbourne                                                       1573
Iceland                                                         1533
Brooklyn                                                        1527
Moskva                                                          1510
Portland                                                        1469
Toronto                                                         1430
Tokyo                                                           1423
Nashville                                                       1248
Montreal                                                        1247
San Francisco                                                   1241
Cuba                                                            1241
Austin                                                          1189
California                                                      1184
China                                                           1164
Atlanta                                                         1107
England                                                         1079
Detroit                                                         1073
Scotland                                                        1072
Croatia                                                         1068
Sydney                                                          1019
Stockholm                                                       1002
Boston                                                           995
Wales                                                            981
Serbia                                                           951
Manchester                                                       917
Philadelphia                                                     883
Sankt-Peterburg                                                  869
Soviet Union                                                     867
Vancouver                                                        838
Hamburg                                                          821
Lithuania                                                        766
Venezuela                                                        760
Bristol                                                          751
Brisbane                                                         696
Minneapolis                                                      696
Wien                                                             685
Uruguay                                                          678
Dominican Republic                                               652
Buenos Aires                                                     641
Glasgow                                                          599
Oakland                                                          588
Athens                                                           585
Brighton                                                         577
São Paulo                                                        575
Auckland                                                         566
Belarus                                                          539
Cologne                                                          532
Birmingham                                                       518
Bulgaria                                                         503
Denver                                                           502
Peru                                                             501
Singapore                                                        494
Helsinki                                                         483
Baltimore                                                        482
Houston                                                          481
Oslo                                                             481
Iran                                                             476
Malaysia                                                         475
Copenhagen                                                       475
San Diego                                                        473
New Jersey                                                       472
Louisiana                                                        464
Barcelona                                                        459
Egypt                                                            457
Wellington                                                       452
Nigeria                                                          448
Gothenburg                                                       443
Leeds                                                            439
Lyon                                                             423
Dallas                                                           405
Northern Ireland                                                 394
Dublin                                                           384
Madrid                                                           382
Kyïv                                                             380
Amsterdam                                                        377
Europe                                                           363
Washington, D.C.                                                 360
Miami                                                            356
Richmond                                                         348
Liverpool                                                        347
Nottingham                                                       347
Edinburgh                                                        343
Frankfurt am Main                                                337
Pittsburgh                                                       329
Newcastle upon Tyne                                              321
Leipzig                                                          319
Phoenix                                                          317
Sheffield                                                        316
New Orleans                                                      315
Perth                                                            314
Osaka                                                            311
Catalunya                                                        307
Yugoslavia                                                       306
Cleveland                                                        302
Panama                                                           300
Munich                                                           300
Cardiff                                                          297
Rome                                                             294
Ottawa                                                           290
Indianapolis                                                     288
Lebanon                                                          287
St. Louis                                                        284
Nantes                                                           277
Texas                                                            273
Pakistan                                                         271
Zurich                                                           271
Ciudad de México                                                 267
Mali                                                             264
Adelaide                                                         263
Ontario                                                          261
Cambridge                                                        261
Bordeaux                                                         257
Senegal                                                          254
Belfast                                                          254
Algeria                                                          253
Florida                                                          253
Budapest                                                         252
Orlando                                                          249
Guatemala                                                        248
Vietnam                                                          247
Lisbon                                                           244
Santiago                                                         244
Queensbridge                                                     241
Nordrhein-Westfalen                                              233
Toulouse                                                         230
Victoria                                                         229
Chennai                                                          227
San Jose                                                         226
Milwaukee                                                        226
Rio de Janeiro                                                   226
Illinois                                                         224
Dresden                                                          223
Warsaw                                                           221
Leicester                                                        220
Kansas City                                                      211
Columbus                                                         209
Las Vegas                                                        208
Pennsylvania                                                     207
Memphis                                                          205
Bosnia and Herzegovina                                           204
Cincinnati                                                       204
Ohio                                                             204
Lynchburg                                                        197
Oxford                                                           197
Morocco                                                          197
Thailand                                                         196
Minsk                                                            195
Macedonia                                                        194
Seoul                                                            192
Virginia                                                         190
Stuttgart                                                        189
Luxembourg                                                       189
Bergen                                                           188
Massachusetts                                                    188
País Vasco                                                       187
Long Beach                                                       187
Düsseldorf                                                       185
Salt Lake City                                                   183
Michigan                                                         182
Edmonton                                                         181
Valencia                                                         178
Reykjavík                                                        178
Armenia                                                          176
Bern                                                             175
Georgia                                                          173
Milan                                                            173
Marseille                                                        172
North Carolina                                                   170
Manhattan                                                        169
Santa Cruz                                                       169
Beograd                                                          167
Rotterdam                                                        166
Hawaii                                                           165
Strasbourg                                                       159
Calgary                                                          158
Berkeley                                                         158
San Antonio                                                      156
Hamilton                                                         156
Praha                                                            156
Bonn                                                             154
Trondheim                                                        153
Norwich                                                          152
Uppsala                                                          151
Tampa                                                            150
Bogotá                                                           147
Louisville                                                       147
Malmö                                                            147
Tel Aviv                                                         140
Tucson                                                           140
Raleigh                                                          139
Monte-Carlo                                                      138
East Germany                                                     136
Dunedin                                                          136
Sacramento                                                       136
Hollywood                                                        136
Democratic Republic of the Congo                                 134
Alexandria                                                       134
Cyprus                                                           133
Lille                                                            131
Rouen                                                            131
Miami Beach                                                      131
Maryland                                                         130
Wisconsin                                                        130
Wrocław                                                          129
Martinique                                                       129
Derby                                                            128
Bremen                                                           128
Istanbul                                                         127
Rennes                                                           126
Asturias                                                         126
Beverly Hills                                                    126
Indiana                                                          125
Kingston                                                         124
Novosibirsk                                                      124
Trinidad and Tobago                                              123
Albuquerque                                                      123
Tampere                                                          123
Brussels                                                         122
Queens                                                           122
Quebec City                                                      122
Malta                                                            122
Kent                                                             122
Graz                                                             121
Ghana                                                            121
Moldova                                                          121
Florence                                                         120
Rochester                                                        120
Geneva                                                           120
Lawrence                                                         120
Maine                                                            119
Del Mar                                                          119
Buffalo                                                          119
Hanover                                                          118

In [41]:
df6.artist_code_type1.value_counts()

1.0    949862
3.0    112208
2.0     24835
4.0      3058
5.0      2429
7.0       254
6.0       114
Name: artist_code_type1, dtype: int64

As we can see, the majority of the artists' start area type we have is related to countries. This would be good for our visualization except for big countries like USA, Canada or Australia, for which we would prefer to retrieve at least the artist's state, to have a clearer view of the music's origin.

Also, we noticed that we have some area names that don't give us much information: "Worldwide", "Europe", "South Australia", etc.

2) Artist area 2:

In [42]:
df6.artist_area_name2.value_counts()

London                                         23087
Los Angeles                                    14173
New York                                       12434
Chicago                                         8353
Tokyo                                           7784
Paris                                           6395
Brooklyn                                        6258
Berlin                                          5941
Philadelphia                                    5274
Detroit                                         4659
San Francisco                                   4574
Toronto                                         4068
Boston                                          3959
Seattle                                         3938
Seoul                                           3800
Stockholm                                       3448
Melbourne                                       3308
Hamburg                                         3259
United Kingdom                                  3170
Montreal                                        3106
Wien                                            2827
Sydney                                          2798
Buenos Aires                                    2793
New Orleans                                     2792
Helsinki                                        2781
Birmingham                                      2750
Liverpool                                       2666
Houston                                         2637
Manchester                                      2614
Washington, D.C.                                2584
Glasgow                                         2568
United States                                   2477
Japan                                           2390
Atlanta                                         2364
Rome                                            2251
Kingston                                        2218
Moskva                                          2189
Osaka                                           2174
Hong Kong                                       2152
Rio de Janeiro                                  1962
Sankt-Peterburg                                 1961
Portland                                        1936
Austin                                          1878
Madrid                                          1805
Memphis                                         1786
Amsterdam                                       1755
Minneapolis                                     1704
Vancouver                                       1702
The Bronx                                       1701
Bristol                                         1667
Munich                                          1651
Oakland                                         1629
Cleveland                                       1607
Nashville                                       1587
Sheffield                                       1559
Leeds                                           1550
Baltimore                                       1549
Pittsburgh                                      1543
Athens                                          1521
Budapest                                        1492
Oslo                                            1480
San Diego                                       1452
Queens                                          1445
Gothenburg                                      1445
Dublin                                          1431
New Jersey                                      1425
São Paulo                                       1381
Germany                                         1366
Cologne                                         1327
Copenhagen                                      1298
Milan                                           1289
Edinburgh                                       1254
Kansas City                                     1253
Dallas                                          1251
Newark                                          1237
Ciudad de México                                1227
Harlem                                          1210
Manhattan                                       1209
South Korea                                     1177
Brussels                                        1164
Brighton                                        1163
Philippines                                     1140
Barcelona                                       1135
St. Louis                                       1124
California                                      1116
Miami                                           1099
Kyoto                                           1084
Fukuoka                                         1070
Praha                                           1037
France                                          1003
Antwerp                                          992
Düsseldorf                                       985
Russia                                           982
Frankfurt am Main                                976
Lyon                                             976
Belfast                                          970
Cincinnati                                       960
Brisbane                                         957
Sacramento                                       948
Sapporo                                          883
Sweden                                           875
Burlington                                       875
Nagoya                                           861
Chennai                                          851
Cambridge                                        838
Ghent                                            826
Oxford                                           822
Cardiff                                          821
Buffalo                                          817
Phoenix                                          810
Stuttgart                                        806
Bergen                                           792
Yokohama                                         786
Salzburg                                         785
Jakarta                                          779
Denver                                           778
Huntington Beach                                 769
Perth                                            767
Richmond                                         761
Nottingham                                       753
Long Branch                                      742
Italy                                            729
Newcastle upon Tyne                              727
Kanagawa                                         721
Jacksonville                                     713
Long Beach                                       707
Leipzig                                          707
Omaha                                            697
Berkeley                                         691
Reykjavík                                        688
Ottawa                                           685
Bremen                                           683
Santiago                                         680
Louisville                                       675
Columbus                                         675
Tupelo                                           672
Bonn                                             670
Napoli                                           660
Indianapolis                                     657
Brixton                                          644
Netherlands                                      644
Warsaw                                           639
Reading                                          633
Milwaukee                                        626
Providence                                       620
Hanover                                          619
The Hague                                        618
Orlando                                          608
Tampa                                            608
Leicester                                        606
Winnipeg                                         604
Fort Worth                                       595
Rochester                                        581
Istanbul                                         575
Lawrence                                         561
Gary                                             559
San Antonio                                      557
Lisbon                                           556
Hoboken                                          551
Chiba                                            545
Ann Arbor                                        544
Venice                                           542
Marseille                                        539
Tallinn                                          539
Rotterdam                                        539
Okinawa                                          537
Kyïv                                             536
Ōta                                              535
Dayton                                           532
Auckland                                         529
Utrecht                                          528
Staten Island                                    525
Puerto Rico                                      519
La Habana                                        514
San Jose                                         513
Tacoma                                           511
England                                          507
Kingston upon Hull                               498
Tucson                                           497
Zurich                                           496
Salvador                                         490
Adelaide                                         489
Saitama                                          488
Kobe                                             487
Kent                                             486
Nakano                                           486
Basildon                                         482
Tehran                                           481
Turin                                            477
Portsmouth                                       477
Albany                                           472
Hiroshima                                        472
Halifax                                          469
Palo Alto                                        468
Lincoln                                          465
Southampton                                      462
Canada                                           460
Croydon                                          455
Trondheim                                        453
Hamilton                                         452
Setagaya                                         451
Shreveport                                       444
Pasadena                                         442
Eisenach                                         441
Texas                                            441
Johannesburg                                     436
Gainesville                                      436
San Juan                                         435
Calgary                                          434
Duluth                                           431
Newport News                                     431
Springfield                                      424
Dresden                                          419
Tulsa                                            414
Macon                                            414
Aarhus                                           411
York                                             410
Bologna                                          409
București                                        403
India                                            403
Romania                                          402
Coventry                                         398
Victoria                                         395
Hollywood                                        395
Oulu                                             393
Brazil                                           392
Florence                                         391
Bradford                                         390
Northampton                                      389
Fort Lauderdale                                  388
Santa Monica                                     387
Tel Aviv                                         385
Israel                                           385
Graz                                             385
Żelazowa Wola                                    384
Tampere                                          384
Kingsland                                        382
Toulouse                                         378
Shibuya                                          377
Münster                                          377
Australia                                        377
Santa Barbara                                    376
Aberdeen                                         376
Alton                                            375
Nagasaki                                         372
Edmonton                                         371
Montgomery                                       366
Chapel Hill                                      366
Bogotá                                           365
Koto                                             363
Taipei                                           362
Colombia                                         358
Honolulu                                         357
Jersey City                                      356
Neuilly-sur-Seine                                354
Oklahoma City                                    354
Malmö                                            353
Las Vegas                                        352
Poland                                           351
Beijing                                          351
Niigata                                          350
Chelsea                                          350
Nantes                                           348
Spain                                            346
Bern                                             345
Montevideo                                       344
Akron                                            344
Saint-Germain-en-Laye                            341
Medellín                                         339
Pori                                             339
Madison                                          338
Quebec                                           338
Olympia                                          337
Genoa                                            335
Kurume                                           334
Knoxville                                        331
Wolverhampton                                    331
Compton                                          331
Salford                                          330
Hyogo                                            326
New Brunswick                                    322
Hawthorne                                        320
Beirut                                           320
Aylesbury                                        318
Guildford                                        317
Lima                                             316
Cape Town                                        316
Heidelberg                                       316
Bordeaux                                         315
City of St Albans                                314
Caracas                                          313
Hertford                                         313
Middlesbrough                                    312
Switzerland                                      312
Essex                                            311
Charlotte                                        308
Valencia                                         308
New Haven                                        308
Sendai                                           305
Breda                                            304
Norway                                           304
Turku                                            303
Illinois                                         303
Rīga                                             303
Hämeenlinna                                      303
Manila                                           298
Jackson                                          298
Ontario                                          298
Kraków                                           298
Hounslow                                         296
Belleville                                       295
Virginia                                         295
Orange County                                    293
Pennsylvania                                     293
Bath                                             293
South Africa                                     292
Hammersmith                                      292
Zwickau                                          292
Cheltenham                                       292
Red Bank                                         291
Ibaraki                                          290
Belo Horizonte                                   290
Austria                                          289
Columbia                                         289
Albuquerque                                      288
Boulogne-Billancourt                             286
Toledo                                           285
Champaign                                        285
Newton                                           284
Jamaica                                          284
Aachen                                           283
Stockport                                        282
Utsunomiya                                       281
Mar del Plata                                    281
Surabaya                                         281
North Carolina                                   280
Sevilla                                          279
Christchurch                                     279
Ipswich                                          278
Wakefield                                        278
Finland                                          278
Bratislava                                       278
Leiden                                           277
Mississippi                                      276
Coahoma County                                   276
Hackney                                          275
Weimar                                           275
Argentina                                        273
Beograd                                          273
Karlsruhe                                        273
Bournemouth                                      272
Mumbai                                           272
Bandung                                          270
Hagen                                            267
Leuven                                           266
Cairo                                            266
Wales                                            266
Surrey                                           265
Quebec City                                      264
Wrocław                                          263
Singapore                                        263
Helsingborg                                      263
Chester                                          262
Wellington                                       262
Norwich                                          261
Vallejo                                          257
Syracuse                                         257
Uttar Pradesh                                    257
Denmark                                          256
Bochum                                           255
Duisburg                                         253
Hokkaido                                         253
Luton                                            253
Ealing                                           253
Dorset                                           252
Minsk                                            252
Nelahozeves                                      251

In [43]:
df6.artist_code_type2.value_counts()

3.0    481180
2.0     61532
1.0     31001
5.0     25596
4.0     20562
7.0      2487
6.0       556
Name: artist_code_type2, dtype: int64

It looks like this second column could be giving us more detailed information about the artist's origin (only 31K rows have countries). 

We will keep the detail in "artist_area_name2" and "artist_code_type2" as the origin for the rows who have that information, and fill the other rows with "artist_area_name1" and "artist_code_type1"

In [157]:
#First, we rename our columns:
df6.rename(columns={'artist_area_name2':'origin_name','artist_code_type2':'origin_code'}, inplace=True)
df6.head()

,release_id,release_group,credit_id,release_area,release_area_name,release_code_type,release_year,artist_id,artist_mbid,artist_name_x,artist_area1,artist_area_name1,artist_code_type1,artist_area2,origin_name,origin_code
0,2163750,,2205562,240.0,[Worldwide],NaN,2014-01-01,1654312.0,d10d6441-dcc1-4202-93bf-0c0acf72913a,Soul Glo,7707.0,Philadelphia,3.0,NaN,NaN,NaN
1,1846605,,1503027,240.0,[Worldwide],NaN,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN,NaN,NaN,NaN,NaN
2,1714060,Beaux Soirs De Paris,1324142,73.0,France,1.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN,NaN,NaN,NaN,NaN
3,2265346,Le 1,2291833,240.0,[Worldwide],NaN,2018-01-01,1720981.0,a69efb5f-0b28-4328-8ff0-44d8d6f39755,TedeuzeM,68613.0,Aix-en-Provence,3.0,NaN,NaN,NaN
4,1895266,M2Music HitDisc Vol. 1,1,222.0,United States,1.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN,NaN,NaN,NaN,NaN

In [158]:
#And now we can fill the NaNs with the values in "artist_area_name1" and "artist_code_type1":
df6['origin_name'].fillna(df6['artist_area_name1'], inplace=True)
df6['origin_code'].fillna(df6['artist_code_type1'], inplace=True)
#We can also delete some columns that we don't need anymore:
df6.drop(labels=['artist_area1','artist_area_name1','artist_code_type1','artist_area2'], axis=1, inplace=True)

In [159]:
df6.head()

,release_id,release_group,credit_id,release_area,release_area_name,release_code_type,release_year,artist_id,artist_mbid,artist_name_x,origin_name,origin_code
0,2163750,,2205562,240.0,[Worldwide],NaN,2014-01-01,1654312.0,d10d6441-dcc1-4202-93bf-0c0acf72913a,Soul Glo,Philadelphia,3.0
1,1846605,,1503027,240.0,[Worldwide],NaN,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN
2,1714060,Beaux Soirs De Paris,1324142,73.0,France,1.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN
3,2265346,Le 1,2291833,240.0,[Worldwide],NaN,2018-01-01,1720981.0,a69efb5f-0b28-4328-8ff0-44d8d6f39755,TedeuzeM,Aix-en-Provence,3.0
4,1895266,M2Music HitDisc Vol. 1,1,222.0,United States,1.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN

In [160]:
#Now, let's see what information we have for these new columns:
df6.origin_name.value_counts()

United States                                  81824
United Kingdom                                 52861
Japan                                          42326
Germany                                        34085
London                                         26075
France                                         26057
Los Angeles                                    16492
Sweden                                         15460
Italy                                          15210
New York                                       14259
Finland                                        13767
Netherlands                                    10886
Chicago                                         9463
Spain                                           9225
Canada                                          8819
Australia                                       8720
Russia                                          8592
Tokyo                                           8367
Berlin                                          7558
Paris                                           7546
Brooklyn                                        7031
Poland                                          6282
Philadelphia                                    5823
Seattle                                         5468
San Francisco                                   5292
Detroit                                         5066
Greece                                          4871
Brazil                                          4866
Toronto                                         4859
Boston                                          4511
Denmark                                         4415
Norway                                          4414
Melbourne                                       4347
Stockholm                                       3991
Seoul                                           3851
Montreal                                        3817
Switzerland                                     3793
Hamburg                                         3766
Turkey                                          3457
Estonia                                         3427
Sydney                                          3422
Austria                                         3347
Czech Republic                                  3345
Argentina                                       3141
Manchester                                      3140
Buenos Aires                                    3127
Wien                                            3110
Hong Kong                                       3090
Moskva                                          3088
Helsinki                                        3066
Birmingham                                      3045
New Zealand                                     3028
New Orleans                                     2960
Belgium                                         2947
Glasgow                                         2936
South Korea                                     2932
Houston                                         2877
Liverpool                                       2827
Washington, D.C.                                2822
Atlanta                                         2804
Portland                                        2660
Austin                                          2585
Hungary                                         2583
Puerto Rico                                     2519
Sankt-Peterburg                                 2486
India                                           2461
Rome                                            2427
Osaka                                           2351
Mexico                                          2292
Kingston                                        2261
Ireland                                         2247
Vancouver                                       2190
Nashville                                       2189
Israel                                          2186
Bristol                                         2121
Minneapolis                                     2112
Rio de Janeiro                                  2054
Madrid                                          2047
Amsterdam                                       2005
Athens                                          1920
Oakland                                         1906
Memphis                                         1903
Baltimore                                       1859
Munich                                          1856
Ukraine                                         1825
[Worldwide]                                     1822
Cleveland                                       1803
Oslo                                            1783
California                                      1781
Leeds                                           1767
San Diego                                       1765
New Jersey                                      1747
The Bronx                                       1721
Pittsburgh                                      1719
São Paulo                                       1715
Philippines                                     1714
Gothenburg                                      1713
Dublin                                          1700
Sheffield                                       1699
Budapest                                        1680
Jamaica                                         1659
Copenhagen                                      1649
Cologne                                         1601
Portugal                                        1598
Colombia                                        1575
South Africa                                    1518
Dallas                                          1504
Queens                                          1491
Brighton                                        1445
Brisbane                                        1420
Edinburgh                                       1414
Milan                                           1400
Ciudad de México                                1399
Barcelona                                       1385
Kansas City                                     1357
Romania                                         1352
Slovenia                                        1350
Latvia                                          1313
Taiwan                                          1313
Miami                                           1286
Lyon                                            1280
Newark                                          1260
Manhattan                                       1252
St. Louis                                       1236
Brussels                                        1212
Harlem                                          1211
Denver                                          1160
Praha                                           1159
Kyoto                                           1133
Slovakia                                        1119
Belfast                                         1106
England                                         1105
Cincinnati                                      1100
Düsseldorf                                      1088
Fukuoka                                         1087
Frankfurt am Main                               1087
Indonesia                                       1055
Sacramento                                      1036
Quebec                                          1022
Phoenix                                         1005
Cambridge                                       1001
Richmond                                         998
Antwerp                                          993
Perth                                            964
Cardiff                                          955
Auckland                                         945
Nagoya                                           935
Stuttgart                                        935
Sapporo                                          925
Newcastle upon Tyne                              919
Oxford                                           916
Chennai                                          904
Chile                                            899
Leipzig                                          897
Burlington                                       896
Buffalo                                          887
Nottingham                                       876
Bergen                                           858
Ottawa                                           850
Santiago                                         845
Indianapolis                                     833
Ghent                                            831
Jakarta                                          818
Yokohama                                         818
Bonn                                             815
Salzburg                                         815
Orlando                                          808
Columbus                                         802
Huntington Beach                                 796
Serbia                                           794
Wales                                            789
Long Beach                                       781
Warsaw                                           779
Louisville                                       773
Milwaukee                                        771
Jacksonville                                     766
Leicester                                        760
Bremen                                           759
Scotland                                         754
Iceland                                          751
Kyïv                                             750
Reykjavík                                        745
Long Branch                                      743
Kanagawa                                         738
Croatia                                          736
Berkeley                                         727
Omaha                                            723
Lisbon                                           708
Lithuania                                        706
Napoli                                           705
Cuba                                             688
Wellington                                       685
The Hague                                        683
Winnipeg                                         682
Adelaide                                         681
Providence                                       680
Hanover                                          679
Tupelo                                           675
Tampa                                            673
China                                            669
Rochester                                        664
San Antonio                                      664
Istanbul                                         664
Reading                                          660
Lawrence                                         658
Rotterdam                                        657
Texas                                            654
Brixton                                          651
Marseille                                        650
San Jose                                         633
Fort Worth                                       631
Tallinn                                          624
Ann Arbor                                        620
Zurich                                           614
Dresden                                          610
Singapore                                        606
Okinawa                                          585
Utrecht                                          585
Hamilton                                         584
Chiba                                            575
Venice                                           574
Kent                                             563
Gary                                             562
Turin                                            557
Hoboken                                          556
Dayton                                           552
Trondheim                                        551
Victoria                                         550
Hiroshima                                        550
Soviet Union                                     549
Tucson                                           543
Kingston upon Hull                               538
Calgary                                          536
Toulouse                                         535
Ōta                                              535
Nantes                                           534
Tehran                                           533
Tacoma                                           533
Staten Island                                    532
Saitama                                          529
Halifax                                          528
La Habana                                        521
Portsmouth                                       515
Salvador                                         509
Southampton                                      505
Kobe                                             498
Albany                                           495
Nakano                                           491
Johannesburg                                     490
Florence                                         488
Basildon                                         485
Lincoln                                          484
Gainesville                                      478
Croydon                                          477
Bologna                                          476
York                                             476
Bordeaux                                         476
Tel Aviv                                         472
Palo Alto                                        469
Ontario                                          467
Malmö                                            465
Edmonton                                         464
Venezuela                                        463
Aarhus                                           462
București                                        458
Hollywood                                        457
Tampere                                          454
Shreveport                                       452
Setagaya                                         451
Pasadena                                         451
Bern                                             450
Springfield                                      450
Duluth                                           450
San Juan                                         450
Pennsylvania                                     447
Bradford                                         444
Las Vegas                                        444
Coventry                                         443
Eisenach                                         442
Tulsa                                            440
Newport News                                     436
Virginia                                         429
Honolulu                                         426
Madison                                          423
Shibuya                                          423
Northampton                                      423
Dominican Republic                               422
Graz                                             422
Belarus                                          419
Macon                                            415
Santa Barbara                                    414
Bogotá                                           412
Oulu                                             410
Münster                                          410
Aberdeen                                         405
Olympia                                          405
Illinois                                         404
Cape Town                                        402
Fort Lauderdale                                  400
Ohio                                             398
Salt Lake City                                   398
Charlotte                                        394
North Carolina                                   393
Santa Monica                                     391
Nagasaki                                         390
Beograd                                          389
Chapel Hill                                      387
Oklahoma City                                    386
Taipei                                           384
Żelazowa Wola                                    384
Kingsland                                        382
Akron                                            381
Beijing                                          377
Alton                                            377
Montgomery                                       375
Montevideo                                       374
Bulgaria                                         373
Michigan                                         372
Pori                                             366
Jersey City                                      365
Santa Cruz                                       364
Turku                                            363
Lima                                             363
Koto                                             363
Caracas                                          361
Rīga                                             361
Norwich                                          360
Medellín                                         360
Albuquerque                                      359
Valencia                                         358
New Brunswick                                    358
Christchurch                                     357
Florida                                          357
Knoxville                                        355
Neuilly-sur-Seine                                354
Niigata                                          352
Chelsea                                          350
Minsk                                            350
Compton                                          350
Wolverhampton                                    347
Indiana                                          346
Essex                                            345
Genoa                                            343
Wrocław                                          343
Saint-Germain-en-Laye                            341
Kraków                                           341
Raleigh                                          338
Guildford                                        336
Kurume                                           334
Quebec City                                      333
Beirut                                           333
Salford                                          332
Hyogo                                            327
Malaysia                                         326
New Haven                                        326
Heidelberg                                       326
Orange County                                    325
Uppsala                                          325
Hawthorne                                        324
Peru                                             323
Hämeenlinna                                      323
Bath                                             322
Columbia                                         318
Aylesbury                                        318
Wakefield                                        318
Middlesbrough                                    317
Uruguay                                          316
Belo Horizonte                                   316
Grenoble                                         315
City of St Albans                                315
Manila                                           313
Hertford                                         313
Lille                                            313
Syracuse                                         311
Cheltenham                                       309
Sevilla                                          308
Karlsruhe                                        307

In [161]:
df6.origin_code.value_counts()

3.0    544417
1.0    433886
2.0     74659
5.0     26638
4.0     22369
7.0      2623
6.0       612
Name: origin_code, dtype: int64

In [162]:
#Now, let's see how many empty rows we have:
df6.isnull().sum(axis=0)

release_id                0
release_group             4
credit_id                 0
release_area              0
release_area_name         0
release_code_type    241017
release_year              0
artist_id               151
artist_mbid             151
artist_name_x           155
origin_name          392302
origin_code          394410
dtype: int64

In [58]:
df6['release_id'].nunique()

1499614

In [59]:
#And how many values equal to "Worldwide" or "Europe"?:
df6.loc[df6['origin_area'] == '[Worldwide]'].count()

release_id           1981
release_group        1981
credit_id            1981
release_area         1981
release_area_name    1981
release_code_type    1679
release_year         1981
artist_id            1981
artist_mbid          1981
artist_name_x        1981
artist_area1         1981
artist_area_name1    1981
artist_code_type1       0
artist_area2          199
artist_area_name2     199
artist_code_type2     163
origin_area          1981
origin_area_code        0
dtype: int64

In [60]:
df6.loc[df6['origin_area'] == 'Europe'].count()

release_id           376
release_group        376
credit_id            376
release_area         376
release_area_name    376
release_code_type    284
release_year         376
artist_id            376
artist_mbid          376
artist_name_x        376
artist_area1         376
artist_area_name1    376
artist_code_type1     13
artist_area2         115
artist_area_name2    115
artist_code_type2     77
origin_area          376
origin_area_code       0
dtype: int64

So we have 807.320 rows for which we don't have any information, plus 1981 who have the value "Worldwide" assigned and 376 with the value "Europe". 

Our objective now is to try to find information about those artists in other sources:

In [79]:
#We create a new dataframe for the rows who have missing or vague values:
a = df6.loc[df6['origin_area'].isnull()]
b = df6.loc[df6['origin_area'] == 'Europe']
c = df6.loc[df6['origin_area'] == '[Worldwide]'] 
unknown_area = pd.concat([a, b, c ], ignore_index=True)
unknown_area.origin_area.value_counts()

[Worldwide]    1981
Europe          376
Name: origin_area, dtype: int64

In [80]:
unknown_area.head()

,release_id,release_group,credit_id,release_area,release_area_name,release_code_type,release_year,artist_id,artist_mbid,artist_name_x,artist_area1,artist_area_name1,artist_code_type1,artist_area2,artist_area_name2,artist_code_type2,origin_area,origin_area_code
0,1846605,,1503027,240.0,[Worldwide],NaN,2015-01-01,1112115.0,7b52c77b-1a34-439d-a285-3a7c69cb5b1a,Ben Bennett,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1714060,Beaux Soirs De Paris,1324142,73.0,France,1.0,1995-01-01,1122795.0,71b8451c-c10a-400e-9544-101f34ab2522,Soixante Étages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1895266,M2Music HitDisc Vol. 1,1,222.0,United States,1.0,2006-01-01,1.0,89ad4ac3-39f7-470e-963a-56509c546377,Various Artists,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1494610,!,1367808,107.0,Japan,1.0,2006-01-01,1154943.0,2b0e7ee2-a1d0-45d9-9291-2d269bea9160,三田村管打団?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1247979,!,874079,53.0,Croatia,1.0,2009-01-01,834659.0,9d02b2a1-c9a7-46aa-8674-adf38c44d81a,Gatuzo,53.0,Croatia,1.0,NaN,NaN,NaN,NaN,NaN

In [82]:
#How many unique artists are there with no area info?
unknown_area['artist_id'].nunique()

265089

So, according to the above line, we have 265.089 artists with unknown or vague origin. We will try to find more info from them.

In [83]:
unknown_area.to_csv('unknown_area.csv')

In [63]:
z = pd.DataFrame({'Last_Name': ['Smith', None, 'Brown'], 
                   'First_Name': ['John', 'Mike', 'Bill'],
                   'Age': [35, 45, None]})
z.head()

  Last_Name First_Name   Age
0     Smith       John  35.0
1      None       Mike  45.0
2     Brown       Bill   NaN

In [64]:
x = z[z.Age.notnull()]
x.head()

  Last_Name First_Name   Age
0     Smith       John  35.0
1      None       Mike  45.0

In [71]:
type(x[x['First_Name']=='John'])

pandas.core.frame.DataFrame

In [77]:
z[z.Last_Name.notnull()].values

array([['Smith', 'John', 35.0],
       ['Brown', 'Bill', nan]], dtype=object)

In [66]:
x['origin_area'] = np.where(x[x['First_Name']=='John'] & x[x.Last_Name.notnull()], x['Last_Name'], x['First_Name'])
x.head()

TypeError: unsupported operand type(s) for &: 'str' and 'bool'