# Gathering the Data

In [1]:
import pandas as pd
import numpy as np
#!pip install pygeocoder
from pygeocoder import Geocoder #If you want to follow the geocoding later, you will need your own Google Maps API key

In [2]:
areas = pd.read_csv('Musicbrainz/Tables_used/area.txt',sep='\t', header=None, engine='python', usecols=[0,1,2,3])
areas.columns = ['area_id','area_mbid','area_name','area_type']
areas.head()

   area_id                             area_mbid area_name  area_type
0    15449  2913ad77-cec8-4d2f-98d3-d4aa46ab73bc   Greccio        4.0
1       38  71bbafaa-e825-3e15-8ca9-017dcad1748b    Canada        1.0
2       43  82d5f4d6-aed4-3ff5-81d1-5363ac6e97a7     Chile        1.0
3       44  7c81bb69-a99b-3487-b6d4-0f76d7a29ca0     China        1.0
4       36  ee26e886-87f5-33a2-8e8e-f9591490426d  Cambodia        1.0

In [3]:
#Let's see the area types we have:
area_types = pd.read_csv('Musicbrainz/Tables_used/area_type.txt',sep='\t', header=None, engine='python', usecols=[1,3,4], error_bad_lines=False)
area_types.columns = ['type','code_type','definition']
area_types.head(20)

           type  code_type                                         definition
0       Country          1  Country is used for areas included (or previou...
1   Subdivision          2  Subdivision is used for the main administrativ...
2        County          7  County is used for smaller administrative divi...
3  Municipality          4  Municipality is used for small administrative ...
4          City          3  City is used for settlements of any size, incl...
5      District          5  District is used for a division of a large cit...
6        Island          6  Island is used for islands and atolls which do...

In [4]:
artists= pd.read_csv('Musicbrainz/Tables_used/artist.txt',sep='\t', header=None, engine='c', usecols=[0,1,2,4,11,17])
artists.columns = ['artist_id','artist_mbid','artist_name','start_year','start_area1', 'start_area2']
artists.head()

,artist_id,artist_mbid,artist_name,start_year,start_area1,start_area2
0,805192,8972b1c1-6482-4750-b51f-596d2edea8b1,WIK▲N,NaN,NaN,NaN
1,371203,49add228-eac5-4de8-836c-d75cde7369c3,Pete Moutso,NaN,NaN,NaN
2,273232,c112a400-af49-4665-8bba-741531d962a1,Zachary,NaN,NaN,NaN
3,101060,ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b,The Silhouettes,1956.0,222.0,7707.0
4,145773,7b4a548e-a01a-49b7-82e7-b49efeb9732c,Aric Leavitt,NaN,NaN,NaN

In [2]:
1476425-808442

667983

In [5]:
#Let's see how many artists we have:
artists['name'].nunique()

1476425

In [6]:
artists.isnull().sum(axis=0)

artist_id            0
artist_mbid          0
artist_name          8
start_year     1162804
start_area1     808442
start_area2    1274001
dtype: int64

In [7]:
artists_credit= pd.read_csv('Musicbrainz/Tables_used/artist_credit_name.txt',sep='\t', header=None, engine='c', usecols=[0,2,3])
artists_credit.columns = ['credit_id','artist_id','artist_name']
artists_credit.head()

   credit_id  artist_id             artist_name
0     578352     578352           Gustav Ruppke
1     273232     273232                 Zachary
2     153193     153193  The High Level Ranters
3      32262      32262        Georges Brassens
4    1389968    1171184    Harvard of the South

In [8]:
#Let's join the artists with their credit id and verify that the matching is good:
df = pd.merge(artists, artists_credit, how='left', on='artist_id')
df.head()

,artist_id,artist_mbid,artist_name_x,start_year,start_area1,start_area2,credit_id,artist_name_y
0,805192,8972b1c1-6482-4750-b51f-596d2edea8b1,WIK▲N,NaN,NaN,NaN,822846.0,WIK▲N
1,371203,49add228-eac5-4de8-836c-d75cde7369c3,Pete Moutso,NaN,NaN,NaN,NaN,NaN
2,273232,c112a400-af49-4665-8bba-741531d962a1,Zachary,NaN,NaN,NaN,273232.0,Zachary
3,101060,ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b,The Silhouettes,1956.0,222.0,7707.0,101060.0,The Silhouettes
4,145773,7b4a548e-a01a-49b7-82e7-b49efeb9732c,Aric Leavitt,NaN,NaN,NaN,145773.0,Aric Leavitt

In [9]:
#It looks like it makes sense. Please note that the credit id is sometimes equal to the artist_id, but not always:
df['check'] = df['artist_id'] - df['credit_id']
df['check'].nunique()

1270628

The reason why we need this credit_id for each artist is that, later in the notebook, we'll be able to match each release with its artist.

In [10]:
#We can now get rid of check and the duplicate artist_name column:
df.drop(labels=['check','artist_name_y'], axis=1, inplace=True)
df.head()

,artist_id,artist_mbid,artist_name_x,start_year,start_area1,start_area2,credit_id
0,805192,8972b1c1-6482-4750-b51f-596d2edea8b1,WIK▲N,NaN,NaN,NaN,822846.0
1,371203,49add228-eac5-4de8-836c-d75cde7369c3,Pete Moutso,NaN,NaN,NaN,NaN
2,273232,c112a400-af49-4665-8bba-741531d962a1,Zachary,NaN,NaN,NaN,273232.0
3,101060,ca3f3ee1-c4a7-4bac-a16a-0b888a396c6b,The Silhouettes,1956.0,222.0,7707.0,101060.0
4,145773,7b4a548e-a01a-49b7-82e7-b49efeb9732c,Aric Leavitt,NaN,NaN,NaN,145773.0

In [11]:
df['artist_id'].nunique()

1476425

In [12]:
df.isnull().sum(axis=0)

artist_id              0
artist_mbid            0
artist_name_x         15
start_year       1799557
start_area1      1120376
start_area2      2109027
credit_id         461241
dtype: int64

In [2]:
releases = pd.read_csv('Musicbrainz/Tables_used/release.txt',sep='\t', header=None, engine='c', usecols=[0,1,2,4])
releases.columns = ['release_id','release_mbid','release_name','credit_id']
releases.head()

,release_id,release_mbid,release_name,credit_id
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299

In [3]:
releases['credit_id'].nunique()

1744139

In [15]:
release_country = pd.read_csv('Musicbrainz/Tables_used/release_country.txt',sep='\t', header=None, engine='c', usecols=[0,1,2])
release_country.columns = ['release_id','area_id','release_year']
release_country.head()

   release_id  area_id  release_year
0           3       81        1997.0
1     1427792      107        2014.0
2           9       81        2002.0
3          10      221        2002.0
4          11       81        1999.0

In [16]:
df2 = pd.merge(releases, release_country, how='left', on='release_id')
df2.head()

,release_id,release_mbid,release_name,credit_id,area_id,release_year
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742,81.0,2002.0
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742,221.0,2002.0
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360,81.0,1999.0
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189,81.0,1997.0
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299,107.0,1998.0

In [17]:
df2.isnull().sum(axis=0)

release_id           0
release_mbid         0
release_name         7
credit_id            0
area_id         287376
release_year    341983
dtype: int64

In [18]:
df2['release_id'].nunique()

2198457

In [19]:
#We have another table which provides us with the release year for those whose release country is unkown:
release_unk = pd.read_csv('Musicbrainz/Tables_used/release_unknown_country.txt',sep='\t', header=None, engine='c', usecols=[0,1])
release_unk.columns = ['release_id','release_year']
release_unk.head()

   release_id  release_year
0     1372866        1998.0
1     1089598        2010.0
2     1147748        2011.0
3     1068236        2006.0
4     1148229        2008.0

In [20]:
df3 = pd.merge(df2, release_unk, how='left', on='release_id')
df3.head()

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x,release_year_y
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742,81.0,2002.0,NaN
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742,221.0,2002.0,NaN
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360,81.0,1999.0,NaN
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189,81.0,1997.0,NaN
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299,107.0,1998.0,NaN

In [21]:
df3['release_year_x'].fillna(df3['release_year_y'], inplace=True)
df3.drop(labels=['release_year_y'], axis=1, inplace=True)
df3.isnull().sum(axis=0)

release_id             0
release_mbid           0
release_name           7
credit_id              0
area_id           287376
release_year_x    210161
dtype: int64

In [22]:
df3.dropna(subset=['release_year_x'], axis=0, inplace=True)
df3['release_year_x'] = df3.release_year_x.astype(int,inplace=True)

In [23]:
df3.describe()

         release_id     credit_id       area_id  release_year_x
count  2.009584e+06  2.009584e+06  1.877788e+06    2.009584e+06
mean   1.237545e+06  1.118064e+06  1.671807e+02    2.003481e+03
std    7.039360e+05  6.080736e+05  7.278065e+01    1.627693e+01
min    1.000000e+00  2.000000e+00  1.000000e+00    1.000000e+00
25%    5.895488e+05  6.151228e+05  9.900000e+01    1.998000e+03
50%    1.308062e+06  1.151382e+06  2.210000e+02    2.006000e+03
75%    1.851028e+06  1.641454e+06  2.220000e+02    2.012000e+03
max    2.379919e+06  2.133727e+06  2.580000e+02    2.201000e+03

In [24]:
df3.isnull().sum(axis=0)

release_id             0
release_mbid           0
release_name           5
credit_id              0
area_id           131796
release_year_x         0
dtype: int64

In [25]:
df3.head()

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742,81.0,2002
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742,221.0,2002
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360,81.0,1999
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189,81.0,1997
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299,107.0,1998

# Understanding the data

### 1) Temporal Data

In [26]:
df3.sort_values(by=['release_year_x']).head()

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x
132016,2166840,aae8d806-8694-43fe-9446-3882a33ad8db,Premonition,1964778,194.0,1
1998044,2146235,b0c4deae-d0cb-4cc8-9751-d1e72ebb3f44,Ostrich - Part One,1947908,240.0,1
2005981,2150739,cb4f2efa-fa92-464e-af1b-6c6d1ebc0e20,Tangential,1951552,240.0,4
1967306,2080139,8a3e8541-f89f-4e20-a914-a1ff8b75fde3,Insane Love,1895983,221.0,5
2130834,2273607,3c0c17b5-cc92-407d-99cf-6fcb3e02e3ec,Black Desert Blues,2049134,240.0,5

It's clear that some of the years are not correct. Let's see how many we have and decide what to do with them:

In [27]:
pd.options.display.max_rows = 2000
df3.groupby('release_year_x').count()

                release_id  release_mbid  release_name  credit_id  area_id
release_year_x
1                        2             2             2          2        2
4                        1             1             1          1        1
5                        5             5             5          5        5
7                        1             1             1          1        1
8                        2             2             2          2        2
10                       3             3             3          3        3
14                       1             1             1          1        1
16                       1             1             1          1        0
17                       4             4             4          4        4
18                       1             1             1          1        1
19                       3             3             3          3        3
20                       2             2             2          2        2
21                       1             1             1          1        1
23                       1             1             1          1        1
24                       1             1             1          1        1
25                       2             2             2          2        2
28                       3             3             3          3        2
29                       2             2             2          2        2
31                       2             2             2          2        2
73                       1             1             1          1        1
195                      1             1             1          1        1
198                      1             1             1          1        1
199                      2             2             2          2        2
200                      5             5             5          5        4
201                      5             5             5          5        4
209                      3             3             3          3        2
214                      1             1             1          1        0
216                      1             1             1          1        0
666                      1             1             1          1        1
701                      1             1             1          1        1
996                      1             1             1          1        1
1009                     1             1             1          1        1
1029                     1             1             1          1        1
1198                     1             1             1          1        1
1694                     1             1             1          1        1
1886                     1             1             1          1        1
1888                     1             1             1          1        0
1889                     1             1             1          1        1
1890                   250           250           250        250      249
1891                    11            11            11         11       11
1892                   130           130           130        130      130
1893                   183           183           183        183      183
1894                    29            29            29         29       29
1895                     2             2             2          2        2
1896                     6             6             6          6        6
1897                    65            65            65         65       65
1898                   183           183           183        183      183
1899                   281           281           281        281      281
1900                   132           132           132        132      131
1901                   199           199           199        199      199
1902                   254           254           254        254      234
1903                   203           203           203        203      196
1904                   155           155           155        155      155
1905                   163           163           163        163      163
1906                   154           154           154        154      154
1907                   171           171           171        171      171
1908                   213           213           213        213      212
1909                   188           188           188        188      187
1910                   115           115           115        115      115
1911                    55            55            55         55       54
1912                    37            37            37         37       37
1913                    13            13            13         13       13
1914                    22            22            22         22       22
1915                    12            12            12         12       12
1916                    27            27            27         27       26
1917                   135           135           135        135      135
1918                    89            89            89         89       87
1919                    47            47            47         47       46
1920                   104           104           104        104      102
1921                    25            25            25         25       25
1922                    44            44            44         44       43
1923                    49            49            49         49       45
1924                    59            59            59         59       58
1925                    59            59            59         59       58
1926                    77            77            77         77       74
1927                   110           110           110        110      108
1928                   136           136           136        136      130
1929                   173           173           173        173      168
1930                   221           221           221        221      217
1931                    85            85            85         85       80
1932                    55            55            55         55       52
1933                    65            65            65         65       63
1934                   104           104           104        104      103
1935                   129           129           129        129      129
1936                    99            99            99         99       99
1937                   150           150           150        150      150
1938                   108           108           108        108      107
1939                   116           116           116        116      108
1940                   116           116           116        116      111
1941                   138           138           138        138      134
1942                   112           112           112        112      111
1943                    42            42            42         42       36
1944                    72            72            72         72       69
1945                   145           145           145        145      139
1946                   145           145           145        145      143
1947                   159           159           159        159      155
1948                   113           113           113        113      109
1949                   234           234           234        234      231
1950                   224           224           224        224      214
1951                   221           221           221        221      215
1952                   239           239           239        239      228
1953                   295           295           295        295      289
1954                   433           433           433        433      420
1955                   657           657           657        657      647
1956                   977           977           977        977      937
1957                  1100          1100          1100       1100     1060
1958                  1263          1263          1263       1263     1217
1959                  1384          1384          1384       1384     1344
1960                  1413          1413          1413       1413     1371
1961                  1571          1571          1571       1571     1528
1962                  1730          1730          1730       1730     1671
1963                  1870          1870          1870       1870     1798
1964                  2373          2373          2373       2373     2267
1965                  2662          2662          2662       2662     2550
1966                  2931          2931          2931       2931     2835
1967                  3304          3304          3304       3304     3183
1968                  3641          3641          3641       3641     3480
1969                  3839          3839          3839       3839     3684
1970                  4145          4145          4145       4145     3987
1971                  4167          4167          4167       4167     3999
1972                  4596          4596          4596       4596     4372
1973                  4706          4706          4706       4706     4524
1974                  4596          4596          4596       4596     4424
1975                  5027          5027          5027       5027     4826
1976                  5181          5181          5181       5181     4979
1977                  5848          5848          5848       5848     5607
1978                  6487          6487          6487       6487     6269
1979                  7021          7021          7021       7021     6787
1980                  7624          7624          7624       7624     7333
1981                  7736          7736          7736       7736     7452
1982                  9067          9067          9067       9067     8729
1983                  9746          9746          9746       9746     9378
1984                 10834         10834         10834      10834    10405
1985                 11646         11646         11646      11646    11182
1986                 13257         13257         13257      13257    12745
1987                 16730         16730         16730      16730    16087
1988                 19286         19286         19286      19286    18453
1989                 21316         21316         21316      21316    20441
1990                 24380         24380         24380      24380    23182
1991                 26008         26008         26008      26008    24857
1992                 28252         28252         28252      28252    26785
1993                 32232         32232         32232      32232    30589
1994                 36342         36342         36342      36342    34480
1995                 40007         40007         40007      40007    37892
1996                 42525         42525         42525      42525    40428
1997                 43959         43959         43959      43959    41786
1998                 46206         46206         46206      46206    43906
1999                 50776         50776         50776      50776    48186
2000                 52589         52589         52589      52589    49919
2001                 55397         55397         55397      55397    52664
2002                 56272         56272         56272      56272    53360
2003                 60382         60382         60382      60382    57219
2004                 64515         64515         64515      64515    61143
2005                 70455         70455         70455      70455    66773
2006                 74968         74968         74968      74968    71054
2007                 76985         76985         76985      76985    72586
2008                 78753         78753         78753      78753    73749
2009                 79111         79111         79111      79111    73511
2010                 80753         80753         80753      80753    74614
2011                 82959         82959         82959      82959    75285
2012                 88406         88406         88406      88406    80061
2013                 89587         89587         89586      89587    79956
2014                 87693         87693         87693      87693    79019
2015                 85337         85337         85336      85337    78158
2016                 84093         84093         84092      84093    77140
2017                 79458         79458         79457      79458    72613
2018                 64020         64020         64019      64020    58835
2019                  9162          9162          9162       9162     8405
2020                     1             1             1          1        0
2021                     1             1             1          1        1
2033                     1             1             1          1        1
2034                     1             1             1          1        0
2035                     2             2             2          2        1
2036                     1             1             1          1        1
2037                     2             2             2          2        1
2040                     1             1             1          1        0
2043                     2             2             2          2        0
2045                     1             1             1          1        0
2046                     1             1             1          1        0
2049                     1             1             1          1        0
2052                     1             1             1          1        0
2090                     1             1             1          1        1
2105                     2             2             2          2        1
2107                     1             1             1          1        1
2108                     2             2             2          2        2
2201                     1             1             1          1        1

By looking at the different year values, and, in order to have enough values per year, we could drop the rows whose year is below 1890 and above 2019. Our visualization would have 130 years, which is pretty good.

In [28]:
df3.drop(df3[df3['release_year_x'] < 1890].index , inplace=True)
df3.drop(df3[df3['release_year_x'] >2019].index , inplace=True)
df3.sort_values(by=['release_year_x']).head()

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x
1266706,386917,239b696f-3368-4204-beb7-09c638cd9558,Visions of Paradise Waltz,712605,222.0,1890
1266939,386964,6ce8e3b6-4d62-4e14-aa16-b42858cd5f16,Listen to My Tale of Woe,712631,222.0,1890
1266937,386965,93ba9a94-d139-4f11-9606-684417758ff1,Suwanee River,712633,222.0,1890
1266908,386847,2d8a67af-69b2-4724-8232-4ee0122cf246,Nadjy Waltz,712522,222.0,1890
1266907,386848,8281c07f-da7c-35f7-8f91-a4092a89bf3e,Nadjy Waltz,712522,222.0,1890

In [29]:
#Now, let's try to match each release with their artist:
df4 = pd.merge(df3, df, how='left', on='credit_id')
df4.head(10)

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x,artist_id,artist_mbid,artist_name_x,start_year,start_area1,start_area2
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742,81.0,2002,NaN,NaN,NaN,NaN,NaN,NaN
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742,221.0,2002,NaN,NaN,NaN,NaN,NaN,NaN
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360,81.0,1999,NaN,NaN,NaN,NaN,NaN,NaN
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189,81.0,1997,NaN,NaN,NaN,NaN,NaN,NaN
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299,107.0,1998,NaN,NaN,NaN,NaN,NaN,NaN
5,49,bc9afecd-685e-482c-9412-27f2d267b1dd,Out Spaced,94125,221.0,1998,94125.0,bdcfb781-68cd-4178-b10c-e9f6fb01da18,Fikret Kızılok,1946.0,214.0,5065.0
6,372235,71d9b457-08d6-4fa2-b932-ff56f03f9e70,Open Up Your Mind,596076,222.0,2002,596076.0,8f76f21e-dcd5-4a5a-bdc3-8adfcd0d5427,n.t.lie,NaN,NaN,NaN
7,2356295,8a73db92-1396-4969-a938-0dab0ca30b97,Augusta Taurinorum,2113953,105.0,2008,446005.0,28742ef4-d86e-4fd6-b5b4-3b4917c73613,Rolando Panerai,1924.0,105.0,21258.0
8,2356295,8a73db92-1396-4969-a938-0dab0ca30b97,Augusta Taurinorum,2113953,105.0,2008,290346.0,edba9279-b24b-4e0c-9172-2b016cdcbc1e,Rafael Kubelík,1914.0,56.0,4236.0
9,2356295,8a73db92-1396-4969-a938-0dab0ca30b97,Augusta Taurinorum,2113953,105.0,2008,260278.0,59cf9a49-c3b2-4388-8717-4fb836cc7269,Symphonieorchester des Bayerischen Rundfunks,1949.0,81.0,NaN

We want to know more about the meaning of the columns "release_year_x" and the artist's "start_year". Let's take a look, for example, to the release id 71: the artist is Yasuaki Shimizu (written in Japanese in our dataframe). By searching in Wikipedia, we can see that he was born in 1954 (which is the value appearing in "start_year").

If we take anothe example, release_id number 2356295. The composer, Rafael Kubelík, was born in 1914 and tat value also appears as the artist's start year. 

Therefore, we don't want to use the start year for our visualization, as we want the year each release was produced. It would seem more accurate then, to use "release_year_x" from now on.

### 2) Geographical Data

Let's take a deeper look at the column "area_id" (which will be very useful for our visualization).

If we look at the first row (release "A Sorta Fairytale"), our dataframe says it was released in area number 81.

Now, let's bring back our "areas" dataframe we had at the beginning, and see wich country is that:

In [30]:
print(areas.loc[areas['area_id'] == 81])

    area_id                             area_mbid area_name  area_type
14       81  85752fda-13c4-31a3-bee5-0e5cb1f51dad   Germany        1.0

However, there are some cases where the country code is not informative: for the release id 1966951, for instance, the country code is 240:

In [31]:
print(df4.loc[df4['release_id'] == 1966951])

    release_id                          release_mbid        release_name  \
13     1966951  6b81783e-688c-4550-a698-c7b7def52c47  Songs for Marianne
14     1966951  6b81783e-688c-4550-a698-c7b7def52c47  Songs for Marianne
15     1966951  6b81783e-688c-4550-a698-c7b7def52c47  Songs for Marianne
16     1966951  6b81783e-688c-4550-a698-c7b7def52c47  Songs for Marianne

    credit_id  area_id  release_year_x  artist_id  \
13    1806611    240.0            2017   452830.0
14    1806611    240.0            2017   270752.0
15    1806611    240.0            2017   270751.0
16    1806611    240.0            2017   505754.0

                             artist_mbid               artist_name_x  \
13  18825671-e037-4a37-aef4-45ed57838fbf               Wynford Evans
14  2403f8c6-8ccc-48d6-977f-de0baa2d6fed        Sir Roger Norrington
15  0e84e616-8390-4dbb-ac7f-0cad612c4842  The Schütz Choir of London
16  b87a668b-54df-47ff-b3d9-63f82676d7ee                  John Elwes

    start_year  start_area1  start_area2
13      1946.0        221.0       4001.0
14      1934.0        221.0       5236.0
15      1962.0        221.0        221.0
16      1946.0        221.0          NaN

In [32]:
print(areas.loc[areas['area_id'] == 240])

       area_id                             area_mbid    area_name  area_type
16331      240  525d4e18-3d00-31b9-a58b-a146a916de8f  [Worldwide]        NaN

That is probably because this is a collaborative release (we can see that many artists contributed to it), and therefore it was probably released in more than one place.

In order not to loose information for our visualization later, we could replace all the rows which have that 240 value by the value of the artist's start_area. This it's not 100% accurate (an artist can move and live somewhere else during his life), but it will be helpful in this case.

In [33]:
#We replace the values and check if they were removed:
df4['area_id'] = np.where(df4['area_id']==240, df4['start_area1'], df4['area_id'])

In [34]:
df4.loc[df4['area_id'] == 240]

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x,artist_id,artist_mbid,artist_name_x,start_year,start_area1,start_area2
3812,1280108,33da9608-a1c7-47fc-af20-3c4bfd480525,Born A Trip,1260851,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
74577,1146759,00e7ac4b-bd8e-42bc-a407-8c53c4d2271e,"Star Trek: Deep Space Nine, Box 02: The Paul B...",1153656,240.0,2010,974069.0,8489cff0-87b5-41cc-9845-4aefd433a810,Princessa Avenue,2007.0,240.0,NaN
98405,2079085,dac70d75-76d5-453b-9d0e-cce73650e712,"2013-08-30: Dick's Sporting Goods Park, Commer...",1895099,240.0,2013,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
137700,1145395,d3fa2563-22e7-4271-a06f-517d073bd0a8,idle talk,1152554,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
139383,1609243,17eecde0-566c-4620-a102-fbeee71dcd68,Temporal: Bonus Tracks + Sawblade EP,1209150,240.0,2012,978717.0,57fbea93-1727-4301-968d-91d0a38c7b0e,Silk Road Ensemble,NaN,240.0,NaN
145962,2092207,43c2b460-0d9b-4671-9f21-d7df1d5188c2,Ludomania,1905588,240.0,2008,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
161465,2166876,2173862a-6099-4712-bbdc-1828f3517084,Party InMaHead,1964811,240.0,2018,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
168041,2324555,3b3c18e5-4ce0-41a9-8279-3a5ec7d6a966,Kyrie,2088565,240.0,2014,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
181162,2358770,2889a322-696b-4f90-97e8-47a1b4073930,WILSONWAVE,2116055,240.0,2017,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
203504,1145910,0d956d18-8731-462a-ae16-1d0b43f88b9b,The Sum of Your Disarray,1153006,240.0,2011,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
245755,2171171,7ee8aa90-f03e-4faa-9c50-f05a6425e94f,Falling Dreams,1964812,240.0,2018,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
250262,2358945,78257709-4aff-4c09-9142-24df95ca6a79,Natt,2116196,240.0,2017,663345.0,66db94c7-229e-4d44-bb20-a8ba454edc71,KAITO,2006.0,240.0,NaN
266831,1429519,dcdb6f2e-f5c8-4f10-ba78-a7358ed51642,Maj: Tåget ingenstans,1378422,240.0,2014,663345.0,66db94c7-229e-4d44-bb20-a8ba454edc71,KAITO,2006.0,240.0,NaN
281458,362759,4e052512-1193-4f81-9e0f-ce584bbbaa32,Chased By Martians,692707,240.0,1998,48874.0,b25eebb4-a6dd-49de-82db-4fda6d1be02a,Celtic Fiddle Festival,NaN,240.0,NaN
297566,2363231,5830ff69-1743-4e48-8ed9-26bb1bd0aea0,Failure Is Totally an Option,2119760,240.0,2018,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
325841,1543067,9ace89c6-e442-4886-b72c-3430fbfa36f6,The Atomic Mr. Basie,1475426,240.0,2009,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
397445,1970383,6423c2b9-69f8-43b9-b929-b66b36fc1efb,Loser Kashiwagi Is NOT Dead,1809281,240.0,2016,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
452718,555612,35f4c7d8-a51c-42c1-a3ae-b56a838fd975,Makin-A-Munson,618268,240.0,2007,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
463676,2360645,cb771f3a-4ffa-4c1d-84f0-1aefedbc3e0c,minato aqua,2117667,240.0,2019,1589288.0,1ba668ff-2d6e-4446-a1ef-8b3f34abc74b,Impulse Controls,2016.0,240.0,240.0
469412,1434356,2bfbd26a-f5eb-46f9-9b74-7c3f6c38b513,I Don't Wanna,1382272,240.0,2013,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
489469,1972034,3d108d24-e00c-44e3-bbec-950bc1748e91,ON TRAX: THE ABSOLOUTE,1810529,240.0,2016,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
541124,649152,4cac0f1b-f081-4052-ada6-6fae10624270,"Little Brother, das Fanhörbuch",922935,240.0,2010,855822.0,2ebb67e1-592d-41b8-9003-495740276b04,Maybe Dreams?,NaN,240.0,NaN
583241,694384,88cf93d6-cd74-4b9c-a9a7-ccef4ccb21c1,Makin a Munson (CC-Version),618268,240.0,2007,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
625073,1616260,f574732e-1e43-48c6-9ae0-3b53de68e273,Ex-Breathers,1533056,240.0,2013,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
657315,767936,982215ca-0b6c-4fd7-979d-ed6c4f94f1b8,Pancake Ferret,972439,240.0,2008,9638.0,883ece23-2779-4091-b527-62eb07ee79d4,Goran Bregović,1950.0,240.0,5183.0
664118,1436102,571397df-068d-45d7-aa48-e7bee08925d6,Another Ten Years,1383632,240.0,2010,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
690912,801189,fc618ee7-15a2-4b3e-bfe6-801a3af34999,Fuller / Hurricane Riddim,1042131,240.0,2011,104090.0,40ee8fa3-c6d7-4556-b4e2-9f4114565043,Anoushka Shankar,1981.0,240.0,1178.0
699587,1552412,cbfea6c9-46d9-44e9-8682-70061bd4f8fa,Sacrifice & Isolation,1375808,240.0,2014,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
748932,2172367,06091eaa-bd25-4a90-867e-9af1853175b1,Rulers of a Dying World,1969148,240.0,2018,1487009.0,61d2fa32-bf62-4ea4-abc5-aa2054f945cb,Light & Shade,NaN,240.0,NaN
761174,1529405,d11fd1cf-8be8-48fc-94b6-68b91532f481,Dupla identidade,1464331,240.0,2014,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
851066,1079557,1f604ca4-61b4-479d-948b-9c897a172281,"Portal 2: Songs to Test By, Volume 3",1099169,240.0,2011,955704.0,00484fa3-05e1-4d6d-ae9b-1367bd154e1f,The Jazz Jousters,NaN,240.0,NaN
854276,1099809,203cf792-92d8-42b5-b17b-2f1d36d764a6,"Move Your Shit, Man",1115604,240.0,2010,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
858252,1079561,c3de20c2-7c57-4329-8ead-95d2dbb33e30,Love Magick,1099173,240.0,2011,955704.0,00484fa3-05e1-4d6d-ae9b-1367bd154e1f,The Jazz Jousters,NaN,240.0,NaN
858493,1079678,f109e9c9-3a55-4329-97b7-60383a7321b9,Gina Artworth,1099267,240.0,2005,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
858498,1079683,bc6c0c9e-bdd6-402c-9c30-af2413e11bc4,Gina Artworth,1099267,240.0,2002,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
868542,1102324,41052076-01c7-4906-8dc1-c6ee1adc34b9,Clowns and Queens,1117420,240.0,2007,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
868544,1102331,dac6cde0-bcb9-4d9e-955d-e1de57d865a2,Dirty Mind,1117425,240.0,2011,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
868558,1102329,903773f9-60d2-4950-9e0f-6761059cc9e2,Bang Bang,1117424,240.0,2011,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
868560,1102333,e02e4ad8-ea94-40ed-9639-ee78b3053231,Set You Free,1117427,240.0,2011,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
868564,1102349,d4e788a6-a138-4b03-8817-9d9066177182,From the Abyss / Transcendental Object,1117436,240.0,2009,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
877810,795417,4de691b0-3461-4288-a0f3-afc0360e1ee3,MM & Friends Live 2006-2007,1037781,240.0,2008,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
889525,2148268,c08469c5-25c7-455e-a1e6-311e8915a3cc,Close,1949576,240.0,2018,1441647.0,6754623d-385c-4299-aeb6-7e51733cf36b,LibriVox Volunteers,NaN,240.0,240.0
902875,1121389,d8fe0c6d-a525-4ac3-9f42-e55cea88442c,RZZL DZZL Demos,1132969,240.0,2011,981656.0,ea1210d2-a9a7-43cf-8d71-6d6a4b475cff,shpakOO,NaN,240.0,NaN
914903,1127667,80580f1e-63f0-4fee-b722-3380c5a86e36,100 Must-Have Bach Masterpieces,1138278,240.0,2012,986276.0,ff87daa4-d8b9-4a7a-8df9-0a4bc1f2c135,Mutado Pintado,NaN,240.0,NaN
953343,1162759,b84a6dd6-61a1-4e9f-bd82-1c161d99e957,Badlands,1165913,240.0,2010,663345.0,66db94c7-229e-4d44-bb20-a8ba454edc71,KAITO,2006.0,240.0,NaN
970568,1438986,54249a6e-bc73-4e7c-80d0-0c782d4d889e,Colours,1385775,240.0,2014,1167807.0,2a8648b1-0f52-4558-bf53-323e07456918,Nazoranai,2011.0,240.0,NaN
983786,1173866,3ddf3141-2d3f-4653-a3a2-4206e8cce246,В каждый дом,1174539,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1023350,1309268,2dd2609b-75f9-4143-ad54-0ebe141d5a15,Reiki Relaxation,1283816,240.0,2013,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1023738,1309272,ac1537c9-6e6e-4144-a4f8-761d40d66fcf,Clearzone,1283819,240.0,2007,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1069289,1221035,f7ea2608-5ed2-46df-acc3-cf970affac8b,O hábito da força,1212931,240.0,2012,1039807.0,fd22e69e-b261-4c69-b469-d09730913ae4,Helsinki-Cotonou Ensemble,2012.0,240.0,23.0
1080338,2360820,3adb5a88-63b8-4e42-b124-9acb6e9db638,Road to Rome,2117819,240.0,2019,945567.0,51c114df-1aee-46ab-b9ea-2798f7fc2cfd,Cynical Existence,2011.0,240.0,202.0
1086605,1226105,7bc658d4-ec4c-421a-9cc6-9c92cfab1e5a,Big Inner,1217096,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1104832,1504263,c8e070ec-e396-4e4d-a872-ffecbe44bf72,Smoke,1443936,240.0,2008,1210216.0,3fdb67ad-d7d0-43d3-a867-767ef32af6ce,Helix Symphony,2015.0,240.0,NaN
1107494,1231265,ab14c93e-cb04-4919-88f7-ff474aa637b3,Brillante Tour Eiffel,1221350,240.0,2010,502164.0,9f02973e-3f76-4511-8c51-46321b00f55f,Intergalactic Touring Band,NaN,240.0,NaN
1123794,1328284,cc8231bd-e635-4796-aa99-2837d58feaac,Raíz,1298961,240.0,2013,668860.0,c9fe3f5f-c7d3-4c86-92da-082867e6eb2d,Tama,NaN,240.0,NaN
1126428,1115743,585e96ce-cc27-4247-973a-fcda9b62a5b6,C3LVSCB,1128306,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1142155,1241210,298f3d46-5210-41d0-915f-738f8e758e0b,Serpents in the Sky,1229513,240.0,2013,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1157613,1245704,3f7c6b25-ce3e-4745-91cc-7dddb3f5d7fa,EP,1233103,240.0,2012,1055748.0,c93a2607-b865-4103-aca0-ca8919d37a04,Combinations,NaN,240.0,NaN
1167609,1248924,c5f11090-9d03-4563-92e9-e19d3d6a1ef4,Ten Miles Wide,1235708,240.0,2011,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1179754,1338459,57761bf9-3a62-4169-b479-64ede8fbe443,Balada Salvaje,1306769,240.0,2010,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1183282,1257868,e72ab71f-1132-410d-b3df-6b9b322fd472,Halcyon,1243077,240.0,2005,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1188107,1336320,41f0fffe-2604-4c29-9aa1-86d2e2f20d0e,The Alibi,1305144,240.0,2009,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1193684,1562926,c84dbf21-5500-44c1-88d6-7e275be85c50,Demos (2012),1491242,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1223076,1442021,87f858f4-5db5-4545-b810-1d1b50fd631c,Two Keys,1388153,240.0,2013,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1257363,1279378,6eb58021-9411-46cd-a959-083370632302,Celtic Carol,1260305,240.0,2011,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1260884,1346584,862f72e9-cfb8-44bd-996b-142cf9507dcc,Long as You're Living,1313129,240.0,2010,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1273471,1423079,ee81f215-7dbc-428f-9fba-325579e73a4f,Colder EP,1373270,240.0,2013,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1282889,1441427,d97f72fc-100d-41e6-b21f-0e6c46af599d,Mid an fot on fanfæt gefylled ðæt treoƿ ƿæs,1387690,240.0,2014,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1289569,1405994,e81c3866-0e97-4d49-a0b6-d844c6c89ff2,A Red Nightmare,1359916,240.0,2011,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1313725,2154943,0bc2ed66-50de-4cc3-8f57-b8436a4de84f,Exo Exo,1955018,240.0,2014,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1322976,2155113,3ee8dc2c-e6f1-4b38-8af2-b74451406544,Henbane,1283417,240.0,2013,945567.0,51c114df-1aee-46ab-b9ea-2798f7fc2cfd,Cynical Existence,2011.0,240.0,202.0
1324757,1393951,5e2131af-ab41-4ac1-a76d-58c97416ecc8,The Yawhg EP,1350932,240.0,2013,1142296.0,a2517878-3346-4529-94d2-066a5fdeed48,Warganization,2010.0,240.0,5427.0
1332720,1358342,f2de8288-5637-4d16-aaec-64e402f7ea8f,Transcend: Best of Izhorian,1322539,240.0,2013,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1333995,1358524,2649e343-47e3-45d7-bd4b-e531bd2a87e7,アカツキアライヴァル,1322700,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1335165,1978485,0d6849d4-583e-4de1-8e05-6f9c119fba45,Illuvia,1815576,240.0,2017,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1352517,1978574,53d62098-cd46-44ab-9d95-8442957e1c0e,Ghetto Ass Trumpet Street Fight,1815637,240.0,2017,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1353930,1394177,b63006bc-1240-479d-b19c-2273d724835c,Lazerquest,1351064,240.0,2013,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1356370,1297058,302fa1ac-17f3-47d4-8c61-001e465c161b,Los Espíritus,1274313,240.0,2013,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1361491,1443346,2eea89a4-b274-4e87-bf8d-d6eacf360018,Yo Pro (Young Profe$$ional),1389117,240.0,2011,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1367011,1441429,9d8372bd-26d2-4705-9dba-60c97ef72a06,Datum,1387692,240.0,2014,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1367175,1441441,02b76080-0d62-4bef-b4fb-7674767ba6c2,PSY,1387702,240.0,2014,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1367281,1838643,789bd334-723c-4992-b01d-65ae42fbf4d5,Melt,1707699,240.0,2011,663345.0,66db94c7-229e-4d44-bb20-a8ba454edc71,KAITO,2006.0,240.0,NaN
1388540,2209493,c84620ea-2853-4d0b-8c00-aa9eaa298219,Meraki,1999207,240.0,2017,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1389266,1431304,34d26449-bbd4-4571-93e6-24f658b97861,Unreleased Collection EP,1379883,240.0,2012,932966.0,0fda9efa-21cf-46c3-a195-73860ea5b041,Алёша Димитриевич,1913.0,240.0,176.0
1395113,1387863,4a1eec0e-5c30-4859-acf7-1e18871a40e1,La Confrérie Des Larmes,1346274,240.0,2013,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1416275,1713844,b367416f-3a59-4226-b89f-87bb313576e1,Wasted Years,1609187,240.0,2016,9638.0,883ece23-2779-4091-b527-62eb07ee79d4,Goran Bregović,1950.0,240.0,5183.0
1416286,1719582,9e7588e6-c8c6-4620-b49a-ddfaad187218,Thornsmoat,1613877,240.0,2016,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1419904,1644844,1b4e8145-1637-4951-94c2-5aabd6a80676,Fear of Infinity,1049724,240.0,2011,9638.0,883ece23-2779-4091-b527-62eb07ee79d4,Goran Bregović,1950.0,240.0,5183.0
1427956,1714004,1988bf47-591a-4159-8d11-c2af7dcb1a7f,Under Pressure,1609309,240.0,2016,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1435124,1718566,b2c2ad73-8439-4b58-8421-0357ba1464fe,Impossible Buildings,1613100,240.0,2015,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1435424,1102414,8295ab1b-f1df-405a-9736-ae015302b5a7,End of Line,1117479,240.0,2011,933854.0,37c70e57-d71d-43eb-b8d2-4f5478cd3187,Speakerhuggers,NaN,240.0,NaN
1443153,1670855,9081e7b7-6f9a-40a3-b925-bd06da687e86,Lana Del Rey - Video Games - Cover by Lynsey C...,1575965,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1454697,1568228,6441e1f2-caad-426b-a586-33eb33617c72,Masterpieces: Best of the GRP Years,1495446,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1456317,1576154,9a671c2f-6a8b-475f-b0b0-3a9770d1b8e6,Singing for Strangers,1501671,240.0,2015,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1456487,1457575,693220dc-bf4e-4b91-9a28-68193096d345,Ydrapoej,1400395,240.0,2014,1060271.0,fbd05486-1333-4880-b36d-473d074ed8c4,AN21 & Max Vangeli,NaN,240.0,NaN
1467594,1529240,0c0ee517-6d1b-4305-b680-a9cd969cdb8a,Long Way Down,1464194,240.0,2014,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1472453,1457570,7cbb31b6-fba2-4f92-9d4f-4e69441c6e7a,Catch,1400391,240.0,2013,1060271.0,fbd05486-1333-4880-b36d-473d074ed8c4,AN21 & Max Vangeli,NaN,240.0,NaN
1478008,1538346,9c6f6324-f272-47ea-9320-c1698861c9a9,Grayscale,1471508,240.0,2007,1229747.0,63729d11-36dc-43ce-b5cb-1cff27d2875d,Forever in Combat,NaN,240.0,240.0
1483169,1700573,074b761a-d697-415d-9d97-070a67455801,I Can See You and Me / A Parsec From Here,1598769,240.0,2014,1060271.0,fbd05486-1333-4880-b36d-473d074ed8c4,AN21 & Max Vangeli,NaN,240.0,NaN
1483175,1705084,9da3df23-9191-454d-903e-e22beb12024f,Wish,1156508,240.0,2015,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1487389,1464412,cb896651-5475-458a-adaf-a1977ba3b9c8,Pilger,1405795,240.0,2013,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1496423,1170229,f1b987a3-6fa1-43ea-9d67-121baca4cbdc,Arlanda,1171664,240.0,2011,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1497159,1529409,045f991b-7a87-4858-968f-4ba8178eb0c9,Solo But Not Alone,1464336,240.0,2014,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1501341,1568762,0c88b284-6b08-44a5-a97a-f97ba1424193,Mercury,1495829,240.0,2012,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1505449,1582471,1644843e-17c3-46de-b712-0f6d40af497f,Live at Roadburn 2008,1506711,240.0,2011,472151.0,49e6b802-20ea-45e6-aed5-19ebd14be83f,Onita Boone,1964.0,240.0,NaN
1525732,1579625,d0b01027-f9af-41fb-b3fc-29b7fa0901b7,State of Emergy,1504487,240.0,2004,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1527538,1976247,e6de0241-55ea-4e4a-b463-69d5fc4747fa,Fake Happy (edit),1813858,240.0,2017,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1528870,1587079,80b38367-0a4a-40da-ba2c-cd8b638b76a0,State of Emergy,1504487,240.0,2004,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1537781,1390311,0938ee8e-3763-41f3-99c5-d6b3d50254aa,Demo 2012,1348129,240.0,2012,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1552984,1659110,9a024dea-59fc-42c0-8816-144ab7407066,Pennonica,1566763,240.0,2013,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1561557,1596817,6e5e3790-41c0-4cbc-8710-d374a5469952,Ziggy,1517776,240.0,2015,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1561711,1596819,702ae039-bfc2-4282-805a-9602de575d2a,Running With the Wolves,1517778,240.0,2015,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1564168,1976693,305a7e14-4050-41d8-bc95-839ef00f8c5b,Echoes of Battle,1243698,240.0,2013,15071.0,f731ccc4-e22a-43af-a747-64213329e088,[anonymous],NaN,240.0,NaN
1577949,1686731,8b7e314c-dcfe-46ee-a7b6-249e030d57cb,Fønix,1588020,240.0,2015,663345.0,66db94c7-229e-4d44-bb20-a8ba454edc71,KAITO,2006.0,240.0,NaN
1593377,1659739,d347dd90-3112-4644-bfcc-b5248951746e,Alive,1332530,240.0,2013,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1608964,2210341,536a60ff-3a4e-45a1-96e1-f2a647f5188e,Insomnia,1999873,240.0,2015,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1614995,1687022,4bf1c9f0-b2ee-4f3a-aa5c-a3930f2ad4c9,Master of Tiny Shoes,1588272,240.0,2011,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1617282,1222394,0c7d9a94-1dd7-44d7-b67a-b5ad785846f2,John Lennon vs. Bill O’Reilly,1214079,240.0,2011,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1619449,1648264,7878afcf-2f20-4bcd-a45b-2cda6f6bc7cb,Dwelling of Duels 2014-05: Water Month,1558538,240.0,2014,104090.0,40ee8fa3-c6d7-4556-b4e2-9f4114565043,Anoushka Shankar,1981.0,240.0,1178.0
1620093,1676096,65ec5146-5cbb-4cf5-a3b1-54161e4d6bb4,Yokohama Zen Rock,1579943,240.0,2008,1211568.0,3c6d829d-ccf8-4641-8498-5948099b3942,Dream Recall,2013.0,240.0,13.0
1628435,1672862,705c480a-c391-4795-87fa-9d78048ddd13,Into the Grey,1577497,240.0,2014,663345.0,66db94c7-229e-4d44-bb20-a8ba454edc71,KAITO,2006.0,240.0,NaN
1640420,1978482,e7a3c419-224c-4358-8aa1-4aa056beda6c,Hellcrowned,1815573,240.0,2017,97546.0,125ec42a-7229-4250-afc5-e057484327fe,[unknown],NaN,240.0,NaN
1646661,1606117,09fac20b-35da-4041-bff4-93f293e60adf,Hard Science,1524979,240.0,2015,528418.0,08809019-2a31-4b5c-928a-d57b7742b224,Suzuki Method International,NaN,240.0,NaN

We can see that, those 240 values that are still remaining come from the fact that the artist's start area was also 240. How many values do we have?

In [35]:
df4.loc[df4['area_id'] == 240].count()

release_id        334
release_mbid      334
release_name      334
credit_id         334
area_id           334
release_year_x    334
artist_id         334
artist_mbid       334
artist_name_x     334
start_year         44
start_area1       334
start_area2        22
dtype: int64

In [36]:
#As they are only 334, we can easily remove them and it won't have much impact in the future:
df4.drop(df4[df4['area_id'] == 240].index , inplace=True)

In [37]:
#Also, as we saw before that we have duplicate entries for the same release (caused by the collaborative releases),
#we should remove the duplicates:
len(df4)

2856811

In [38]:
df4.drop_duplicates(subset='release_id', inplace=True)
len(df4)

1991556

Finally, we can merge the dataframe with the areas, in order to have the country name too:

In [39]:
df5 = pd.merge(df4, areas, how='left', on='area_id')
df5.head()

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x,artist_id,artist_mbid,artist_name_x,start_year,start_area1,start_area2,area_mbid,area_name,area_type
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742,81.0,2002,NaN,NaN,NaN,NaN,NaN,NaN,85752fda-13c4-31a3-bee5-0e5cb1f51dad,Germany,1.0
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742,221.0,2002,NaN,NaN,NaN,NaN,NaN,NaN,8a754a16-0027-3a29-b6d7-2b40ea0481ed,United Kingdom,1.0
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360,81.0,1999,NaN,NaN,NaN,NaN,NaN,NaN,85752fda-13c4-31a3-bee5-0e5cb1f51dad,Germany,1.0
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189,81.0,1997,NaN,NaN,NaN,NaN,NaN,NaN,85752fda-13c4-31a3-bee5-0e5cb1f51dad,Germany,1.0
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299,107.0,1998,NaN,NaN,NaN,NaN,NaN,NaN,2db42837-c832-3c27-b4a3-08198f75693c,Japan,1.0

Do we have enough geographical data?

In [40]:
df5.isnull().sum(axis=0)

release_id              0
release_mbid            0
release_name            5
credit_id               0
area_id            269922
release_year_x          0
artist_id          716062
artist_mbid        716062
artist_name_x      716066
start_year        1514236
start_area1       1255020
start_area2       1660576
area_mbid          269922
area_name          269922
area_type          313728
dtype: int64

In [41]:
df5.area_name.value_counts()

United States                                     484410
United Kingdom                                    249511
Germany                                           189941
Japan                                             168492
France                                             88296
Europe                                             43804
Netherlands                                        37853
Italy                                              37062
Canada                                             36820
Australia                                          34821
Finland                                            28769
Sweden                                             28339
Spain                                              26407
Russia                                             22783
Brazil                                             17911
Belgium                                            16307
Poland                                             13084
Austria                                            10840
South Korea                                         9994
Denmark                                             9534
Norway                                              9350
Switzerland                                         8267
Argentina                                           8246
Greece                                              8235
Mexico                                              7354
India                                               6362
Turkey                                              6139
Hong Kong                                           5858
Czech Republic                                      5742
New Zealand                                         5550
Taiwan                                              5163
Hungary                                             4819
Portugal                                            4320
South Africa                                        3923
Estonia                                             3879
Israel                                              3274
Indonesia                                           3263
Ireland                                             3217
Philippines                                         3002
Colombia                                            2848
Ukraine                                             2461
Slovenia                                            2437
Romania                                             2388
China                                               2044
Chile                                               1901
Jamaica                                             1866
Latvia                                              1791
Slovakia                                            1751
Croatia                                             1655
Soviet Union                                        1462
Puerto Rico                                         1460
Yugoslavia                                          1299
Iceland                                             1121
Serbia                                              1091
Lithuania                                            986
Czechoslovakia                                       805
Venezuela                                            730
Bulgaria                                             703
London                                               648
Uruguay                                              644
Belarus                                              610
Singapore                                            604
Peru                                                 599
Cuba                                                 565
Malaysia                                             565
Los Angeles                                          554
Luxembourg                                           545
East Germany                                         494
Egypt                                                493
Thailand                                             458
New York                                             441
Seattle                                              387
Berlin                                               375
Iran                                                 348
Quebec                                               341
Vietnam                                              314
Nigeria                                              302
Atlanta                                              280
Paris                                                269
Dominican Republic                                   269
Serbia and Montenegro                                247
Lebanon                                              241
Chicago                                              224
United Arab Emirates                                 213
Pakistan                                             186
California                                           185
England                                              176
Houston                                              176
Ecuador                                              171
Nicaragua                                            168
Costa Rica                                           163
Wien                                                 148
Macedonia                                            148
Melbourne                                            146
Bosnia and Herzegovina                               144
Toronto                                              142
Bolivia                                              142
Brooklyn                                             139
San Francisco                                        139
Réunion                                              138
Andorra                                              137
Montreal                                             136
Bangladesh                                           129
Faroe Islands                                        127
Austin                                               124
North Korea                                          124
Detroit                                              123
Oakland                                              121
Georgia                                              120
Sydney                                               119
Scotland                                             116
Portland                                             115
Algeria                                              115
Tokyo                                                113
Trinidad and Tobago                                  107
Malta                                                104
Cyprus                                               103
Morocco                                              102
Queensbridge                                         100
Manchester                                            99
Philadelphia                                          99
Panama                                                98
Nashville                                             97
Senegal                                               95
Vancouver                                             92
Brisbane                                              91
Wales                                                 91
Boston                                                89
Guatemala                                             89
Ghana                                                 88
Greenland                                             88
Amsterdam                                             87
San Diego                                             85
Kenya                                                 85
Armenia                                               84
Buenos Aires                                          81
Sri Lanka                                             80
Mali                                                  80
Stockholm                                             77
Tamil Nadu                                            75
Hamburg                                               75
Moskva                                                73
Kazakhstan                                            72
Bristol                                               71
Cologne                                               71
Sankt-Peterburg                                       70
New Orleans                                           66
Albania                                               66
Haiti                                                 65
Moldova                                               64
Guadeloupe                                            63
Cape Verde                                            62
Nepal                                                 62
Barcelona                                             61
Lyon                                                  60
U.S. Virgin Islands                                   59
Bordeaux                                              58
Brighton                                              56
Denver                                                55
Saudi Arabia                                          55
New Jersey                                            55
Angola                                                55
Cleveland                                             54
Athens                                                54
Glasgow                                               53
Democratic Republic of the Congo                      53
Helsinki                                              53
Bern                                                  52
Asturias                                              51
Zimbabwe                                              51
Minneapolis                                           51
Miami                                                 50
Azerbaijan                                            49
Leipzig                                               49
Hayward                                               49
Phoenix                                               49
Birmingham                                            49
São Paulo                                             49
Barbados                                              48
Auckland                                              48
Rome                                                  47
Leeds                                                 47
Baltimore                                             46
Munich                                                46
Adelaide                                              45
Tunisia                                               45
Stuttgart                                             45
Wellington                                            44
Washington, D.C.                                      43
Dallas                                                43
Perth                                                 42
Budapest                                              42
Mongolia                                              42
Victoria                                              41
Martinique                                            41
Copenhagen                                            41
Madrid                                                40
Pomona                                                40
Pittsburgh                                            39
Miami Beach                                           39
Afghanistan                                           39
Ciudad de México                                      39
Düsseldorf                                            39
New Caledonia                                         38
Liverpool                                             37
Long Beach                                            37
Indianapolis                                          36
Texas                                                 35
Edinburgh                                             35
Ethiopia                                              35
Paraguay                                              35
Dublin                                                35
Guinea                                                34
Las Vegas                                             34
Oslo                                                  33
Côte d'Ivoire                                         33
Western Australia                                     33
Madagascar                                            33
Santiago                                              33
Belfast                                               32
Catalunya                                             32
Liechtenstein                                         32
Sheffield                                             31
Compton                                               31
Newcastle upon Tyne                                   31
Florida                                               31
Nantes                                                31
Bahamas                                               31
Chennai                                               31
Kingston                                              31
Lisbon                                                31
Cambridge                                             30
Ontario                                               30
Beograd                                               30
Kyïv                                                  30
Cambodia                                              29
Botswana                                              29
Cardiff                                               29
Nottingham                                            29
Massachusetts                                         29
Mumbai                                                29
Sacramento                                            29
Rio de Janeiro                                        29
Reykjavík                                             29
Benin                                                 28
The Bronx                                             28
Tanzania                                              28
Cameroon                                              28
Jordan                                                28
Honduras                                              28
Uganda                                                27
Mauritius                                             27
Milan                                                 27
Hawaii                                                27
Louisville                                            27
Richmond                                              27
Toulouse                                              26
Milwaukee                                             26
Michigan                                              26
San Antonio                                           26
Lille                                                 26
Bergen                                                26
Staten Island                                         25
Isle of Man                                           25
Akron                                                 25
Syria                                                 25
Tel Aviv                                              24
Memphis                                               24
Pennsylvania                                          24
Northern Ireland                                      24
Nordrhein-Westfalen                                   24
Belize                                                24
Bayreuth                                              23
Zurich                                                23
Strasbourg                                            23
Manhattan                                             23
Osaka                                                 22
Gothenburg                                            22
Calgary                                               22
Groningen                                             22
Frankfurt am Main                                     22
Kansas City                                           22
Dresden                                               22
Ottawa                                                22
Montpellier                                           21
Seoul                                                 21
Praha                                                 21
Maryland                                              21
Shibuya                                               21
Hanover                                               21
Saddle River                                          21
Warsaw                                                20
Edmonton                                              20
Leicester                                             20
Basel                                                 20
Illinois                                              20
Tucson                                                20
Bretagne                                              20
Zambia                                                20
Uzbekistan                                            20
Quebec City                                           20
Jakarta                                               20
Zagreb                                                19
Oxford                                                19
Kraków                                                19
Connecticut                                           19
Minnesota                                             19
Rochester                                             19
Marseille                                             18
Monaco                                                18
French Guiana                                         18
Wisconsin                                             18
Hendersonville                                        18
Minsk                                                 18
Jersey                                                18
El Salvador                                           18
Cape Town                                             17
Washington                                            17
Namibia                                               17
Rennes                                                17
Dunedin                                               17
Rotterdam                                             17
Bogotá                                                17
Halifax                                               17
Comunidad Valenciana                                  17
Orlando                                               17
Ohio                                                  16
Johannesburg                                          16
Dortmund                                              16
Papua New Guinea                                      16
Hamilton                                              16
Istanbul                                              16
Cincinnati                                            16
St. Louis                                             16
Tours                                                 15
Palestine                                             15
Virginia                                              15
Mozambique                                            15
Bayern                                                15
Montenegro                                            15
Christchurch                                          15
Fresno                                                15
Newark                                                15
Veracruz                                              14
Louisiana                                             14
Wrocław                                               14
Queens                                                14
Bratislava                                            14
Charlotte                                             14
Swaziland                                             14

In [42]:
df5.area_type.value_counts()

1.0    1660809
3.0      13055
2.0       3230
5.0        348
4.0        326
7.0         40
6.0         20
Name: area_type, dtype: int64

It looks like the majority of the data is classiffied by country, but we also have cities and more geographical subdivisions. 

For our visualization to work, we need to transform all the rows to country.

In [43]:
#Let's bring back our area_types dataframe:
area_types.head(10)

           type  code_type                                         definition
0       Country          1  Country is used for areas included (or previou...
1   Subdivision          2  Subdivision is used for the main administrativ...
2        County          7  County is used for smaller administrative divi...
3  Municipality          4  Municipality is used for small administrative ...
4          City          3  City is used for settlements of any size, incl...
5      District          5  District is used for a division of a large cit...
6        Island          6  Island is used for islands and atolls which do...

In [44]:
#Let's analyze the names of the countries:
df5.loc[df5['area_type'] != 1].area_name.value_counts()

Europe                                            43804
London                                              648
Los Angeles                                         554
New York                                            441
Seattle                                             387
Berlin                                              375
Quebec                                              341
Atlanta                                             280
Paris                                               269
Chicago                                             224
California                                          185
England                                             176
Houston                                             176
Wien                                                148
Melbourne                                           146
Toronto                                             142
Brooklyn                                            139
San Francisco                                       139
Montreal                                            136
Austin                                              124
Detroit                                             123
Oakland                                             121
Sydney                                              119
Scotland                                            116
Portland                                            115
Tokyo                                               113
Queensbridge                                        100
Philadelphia                                         99
Manchester                                           99
Nashville                                            97
Vancouver                                            92
Wales                                                91
Brisbane                                             91
Boston                                               89
Amsterdam                                            87
San Diego                                            85
Buenos Aires                                         81
Stockholm                                            77
Hamburg                                              75
Tamil Nadu                                           75
Moskva                                               73
Bristol                                              71
Cologne                                              71
Sankt-Peterburg                                      70
New Orleans                                          66
Barcelona                                            61
Lyon                                                 60
Bordeaux                                             58
Brighton                                             56
New Jersey                                           55
Denver                                               55
Athens                                               54
Cleveland                                            54
Glasgow                                              53
Helsinki                                             53
Bern                                                 52
Asturias                                             51
Minneapolis                                          51
Miami                                                50
Phoenix                                              49
Hayward                                              49
Birmingham                                           49
Leipzig                                              49
São Paulo                                            49
Auckland                                             48
Rome                                                 47
Leeds                                                47
Munich                                               46
Baltimore                                            46
Stuttgart                                            45
Adelaide                                             45
Wellington                                           44
Washington, D.C.                                     43
Dallas                                               43
Budapest                                             42
Perth                                                42
Victoria                                             41
Copenhagen                                           41
Pomona                                               40
Madrid                                               40
Miami Beach                                          39
Pittsburgh                                           39
Ciudad de México                                     39
Düsseldorf                                           39
Long Beach                                           37
Liverpool                                            37
Indianapolis                                         36
Texas                                                35
Edinburgh                                            35
Dublin                                               35
Las Vegas                                            34
Western Australia                                    33
Santiago                                             33
Oslo                                                 33
Catalunya                                            32
Belfast                                              32
Sheffield                                            31
Florida                                              31
Chennai                                              31
Compton                                              31
Kingston                                             31
Newcastle upon Tyne                                  31
Nantes                                               31
Lisbon                                               31
Beograd                                              30
Cambridge                                            30
Kyïv                                                 30
Ontario                                              30
Massachusetts                                        29
Reykjavík                                            29
Nottingham                                           29
Sacramento                                           29
Mumbai                                               29
Cardiff                                              29
Rio de Janeiro                                       29
The Bronx                                            28
Richmond                                             27
Louisville                                           27
Hawaii                                               27
Milan                                                27
Toulouse                                             26
Milwaukee                                            26
Lille                                                26
Bergen                                               26
Michigan                                             26
San Antonio                                          26
Staten Island                                        25
Akron                                                25
Nordrhein-Westfalen                                  24
Pennsylvania                                         24
Northern Ireland                                     24
Tel Aviv                                             24
Memphis                                              24
Bayreuth                                             23
Manhattan                                            23
Strasbourg                                           23
Zurich                                               23
Calgary                                              22
Gothenburg                                           22
Osaka                                                22
Kansas City                                          22
Dresden                                              22
Frankfurt am Main                                    22
Groningen                                            22
Ottawa                                               22
Saddle River                                         21
Maryland                                             21
Seoul                                                21
Montpellier                                          21
Praha                                                21
Hanover                                              21
Shibuya                                              21
Bretagne                                             20
Edmonton                                             20
Illinois                                             20
Quebec City                                          20
Leicester                                            20
Tucson                                               20
Jakarta                                              20
Basel                                                20
Warsaw                                               20
Zagreb                                               19
Connecticut                                          19
Rochester                                            19
Minnesota                                            19
Kraków                                               19
Oxford                                               19
Wisconsin                                            18
Hendersonville                                       18
Minsk                                                18
Marseille                                            18
Comunidad Valenciana                                 17
Washington                                           17
Halifax                                              17
Cape Town                                            17
Rennes                                               17
Rotterdam                                            17
Dunedin                                              17
Bogotá                                               17
Orlando                                              17
Istanbul                                             16
Johannesburg                                         16
Cincinnati                                           16
Hamilton                                             16
St. Louis                                            16
Dortmund                                             16
Ohio                                                 16
Tours                                                15
Newark                                               15
Bayern                                               15
Fresno                                               15
Virginia                                             15
Christchurch                                         15
Raleigh                                              14
Louisiana                                            14
Veracruz                                             14
Asheville                                            14
Queens                                               14
Charlotte                                            14
Wrocław                                              14
Bratislava                                           14
Mississippi                                          13
Bremen                                               13
Liège                                                13
Kent                                                 13
York                                                 13
Rīga                                                 13
Colorado                                             13
Nuremberg                                            13
Arizona                                              13
Madison                                              13
Guadalajara                                          13
Belo Horizonte                                       13
Kentucky                                             13
Providence                                           13
Valencia                                             13
Queensland                                           13
North Carolina                                       13
Cornwall                                             13
București                                            13
Northern Territory                                   13
Aalborg                                              12
Turin                                                12
Alpine                                               12
Lausanne                                             12
New South Wales                                      12
Lima                                                 12
Victorville                                          12
Olympia                                              12
Grenoble                                             12
Southend-on-Sea                                      12
Derby                                                12
Surrey                                               11
Greater Manchester                                   11
Temecula                                             11
Tampa                                                11
Utrecht                                              11
Hollywood                                            11
Columbus                                             11
Malmö                                                11
Oklahoma City                                        11
Córdoba                                              11
Geneva                                               11
Kingston upon Hull                                   11
Sandefjord                                           11
Thessaloniki                                         11
Bandung                                              11
Bologna                                              11
Brescia                                              11
Tijuana                                              11
The Hague                                            11
Winnipeg                                             11
Örebro                                               10
Sofia                                                10
New Brunswick                                        10
Gretna                                               10
Bath                                                 10
Buffalo                                              10
Caldas da Rainha                                     10
Lawrence                                             10
Napoli                                               10
Kerala                                               10
Bellingham                                           10
Georgia                                              10
Angers                                               10
Indiana                                              10
Kaiserslautern                                       10
Jersey City                                          10
Guildford                                            10
Berkeley                                             10
Roma                                                 10
Dardenne Prairie                                     10
Syracuse                                              9
Tallinn                                               9
Saitama                                               9
Aachen                                                9
Münster                                               9
San Sebastián                                         9
Hobart                                                9
Essex                                                 9
Porto                                                 9
Salt Lake City                                        9
Suffolk                                               9
Brussels                                              9
Leicestershire                                        9
Kyoto                                                 9
Albuquerque                                           9
Stockton                                              9
Karlsruhe                                             9
Aarhus                                                9
Rhode Island                                          9
Jena                                                  9
Orange County                                         9
Sendai                                                9
Nijmegen                                              9
Tampere                                               9
Vilnius                                               9
County Clare                                          9
West Virginia                                         9
New Mexico                                            9
Graz                                                  9
San Fernando                                          9
Arkansas                                              8
Coventry                                              8
Nagoya                                                8
Minas Gerais                                          8
Rouen                                                 8
Nice                                                  8
Jacksonville                                          8
West Yorkshire                                        8
Región Metropolitana de Santiago                      8
Grand Rapids                                          8
Saint Paul                                            8
Dorset                                                8
Oregon                                                8
Uppsala                                               8
Porto Alegre                                          8
Baton Rouge                                           8
Portsmouth                                            8
Ann Arbor                                             8
Santa Cruz                                            8
Dijon                                                 8
City of London                                        8
Fort Collins                                          8
New Hampshire                                         8
Winchester                                            8
Bielefeld                                             8
Milano                                                8
Boise                                                 8
Des Moines                                            8
Exeter                                                8
West Midlands                                         8
Guerrero                                              8
Omaha                                                 7
Worcester                                             7
Aberdeen                                              7
Bali                                                  7
Smolenskaya oblast'                                   7
Oberösterreich                                        7
Sevilla                                               7
Sardegna                                              7
Englewood                                             7
Long Island                                           7
Santa Fe                                              7
Chiba                                                 7
Nancy                                                 7
Steiermark                                            7
Hertfordshire                                         7
Mannheim                                              7
Beverly Hills                                         7
Yonkers                                               7
Saskatchewan                                          7
Heidelberg                                            7
Lafayette                                             7
Málaga                                                7
Tallahassee                                           7
Bayonne                                               7

In [45]:
df5.loc[df5['area_type'] != 1].area_id.value_counts()

241.0       43804
1178.0        642
7703.0        554
9655.0        387
326.0         375
7020.0        352
322.0         341
5210.0        279
4434.0        268
5099.0        224
266.0         185
432.0         175
7326.0        159
653.0         148
5121.0        146
5076.0        142
7022.0        139
10861.0       138
7279.0        130
5196.0        124
5179.0        123
7288.0        121
5126.0        118
434.0         115
397.0         113
5147.0        106
115582.0      100
3925.0         99
7707.0         99
5213.0         96
5244.0         91
5212.0         90
435.0          90
295.0          89
5075.0         89
7706.0         86
7295.0         82
684.0          75
331.0          75
695.0          75
2429.0         73
7954.0         71
3821.0         71
5114.0         71
2450.0         70
12021.0        66
12030.0        60
11954.0        58
9279.0         56
292.0          55
5197.0         55
30897.0        55
5241.0         54
7713.0         53
3855.0         53
1812.0         51
23035.0        51
12314.0        50
5239.0         50
7731.0         49
6976.0         49
7289.0         49
5060.0         47
5148.0         46
7710.0         46
7708.0         45
5141.0         45
269.0          43
721.0          42
7280.0         42
9399.0         42
12762.0        41
7712.0         41
3912.0         40
9413.0         40
7804.0         40
7352.0         39
1503.0         39
7709.0         39
7961.0         39
23652.0        38
3924.0         37
7324.0         37
5136.0         36
31090.0        36
3822.0         35
304.0          35
23187.0        34
9622.0         34
358.0          33
26200.0        33
384.0          33
1818.0         32
30589.0        32
3934.0         31
5062.0         31
11257.0        31
9277.0         31
5089.0         31
3926.0         31
2340.0         30
2369.0         30
5092.0         29
3967.0         29
780.0          29
7328.0         29
643.0          29
281.0          29
3813.0         29
320.0          29
271.0          28
10863.0        28
7278.0         27
383.0          27
273.0          27
12057.0        26
7454.0         26
12084.0        26
60638.0        26
283.0          26
1468.0         26
7307.0         26
29423.0        25
7345.0         25
10865.0        25
5161.0         25
433.0          24
12025.0        24
7729.0         24
299.0          24
5250.0         24
334.0          24
7704.0         23
10862.0        23
23722.0        23
29463.0        23
9526.0         22
7291.0         22
7948.0         22
22273.0        22
5107.0         22
7711.0         21
261.0          21
8393.0         21
1805.0         21
2531.0         21
11669.0        21
88113.0        21
5282.0         21
5194.0         20
29936.0        20
7705.0         20
5056.0         20
4563.0         20
276.0          20
11117.0        20
80664.0        20
1834.0         20
3871.0         20
7715.0         20
5264.0         19
284.0          19
5229.0         19
1872.0         19
268.0          19
5236.0         19
2193.0         18
28413.0        18
309.0          18
30620.0        18
5303.0         18
1008.0         17
1828.0         17
22867.0        17
68696.0        17
5152.0         17
5430.0         17
7739.0         17
67476.0        17
296.0          16
30601.0        16
7953.0         16
7945.0         16
3802.0         16
5258.0         16
4866.0         16
5065.0         16
5353.0         15
7743.0         15
7952.0         15
328.0          15
7975.0         15
306.0          14
7380.0         14
5104.0         14
7741.0         14
5120.0         14
10864.0        14
23646.0        14
7957.0         13
279.0          13
286.0          13
38789.0        13
1404.0         13
265.0          13
23202.0        13
288.0          13
280.0          13
5274.0         13
809.0          13
7331.0         13
3867.0         13
7473.0         13
3828.0         13
379.0          13
267.0          13
380.0          13
1524.0         12
7744.0         12
378.0          12
3833.0         12
87943.0        12
9285.0         12
8173.0         12
411.0          12
23037.0        12
68486.0        12
4020.0         12
3993.0         12
23698.0        12
31088.0        12
22407.0        12
308.0          11
79674.0        11
23036.0        11
28496.0        11
9541.0         11
5242.0         11
10980.0        11
4021.0         11
5198.0         11
87975.0        11
3868.0         11
12324.0        11
10169.0        11
7747.0         11
84003.0        10
29447.0        10
7978.0         10
15556.0        10
52741.0        10
8326.0         10
26579.0        10
30926.0        10
7734.0         10
5287.0         10
7805.0         10
5267.0         10
671.0          10
27789.0        10
4695.0         10
12776.0        10
22258.0        10
277.0          10
7282.0         10
21849.0        10
272.0          10
98394.0        10
5199.0         10
4587.0          9
3999.0          9
300.0           9
12001.0         9
5265.0          9
13235.0         9
12782.0         9
7738.0          9
7735.0          9
310.0           9
1793.0          9
79460.0         9
7299.0          9
3923.0          9
7808.0          9
79846.0         9
3872.0          9
7296.0          9
8473.0          9
5260.0          9
22404.0         9
22465.0         9
3850.0          9
5243.0          9
7323.0          9
8910.0          9
39882.0         9
5111.0          9
5297.0          9
9401.0          9
264.0           8
628.0           8
991.0           8
5280.0          8
23706.0         8
4026.0          8
5201.0          8
14237.0         8
5251.0          8
5219.0          8
5227.0          8
5414.0          8
23734.0         8
4025.0          8
7297.0          8
12029.0         8
82404.0         8
291.0           8
20979.0         8
80849.0         8
4666.0          8
1505.0          8
67890.0         8
4879.0          8
23649.0         8
3823.0          8
3837.0          8
4000.0          8
5273.0          8
22910.0         8
5769.0          8
7024.0          8
85262.0         8
7737.0          8
9404.0          7
5131.0          7
5427.0          7
7716.0          7
7976.0          7
4555.0          7
104710.0        7
3917.0          7
2449.0          7
1892.0          7
22317.0         7
293.0           7
323.0           7
650.0           7
5153.0          7
3790.0          7
5428.0          7
43994.0         7
67743.0         7
5150.0          7
29943.0         7
4370.0          7
298.0           7
7287.0          7
3977.0          7
29546.0         7
11955.0         7
5246.0          7
5132.0          7
3862.0          7
5255.0          7
21777.0         7
648.0           7
7955.0          6
23029.0         6
53124.0         6
68676.0         6
3836.0          6
67466.0         6
1826.0          6
694.0           6
5082.0          6
22453.0         6
282.0           6
327.0           6
5283.0          6
45171.0         6
12403.0         6
1514.0          6
117235.0        6
80667.0         6
5826.0          6
307.0           6
21729.0         6
2773.0          6
4001.0          6
1839.0          6
4627.0          6
10124.0         6
5230.0          6
469.0           6
41244.0         6
86190.0         6
115712.0        6
29548.0         6
79459.0         6
12783.0         6
29593.0         6
79461.0         6
539.0           6
7023.0          6
29631.0         6
68462.0         6
5548.0          6
23260.0         6
5067.0          6
301.0           6
11113.0         6
82359.0         6
40602.0         6
9579.0          6
6406.0          6
86443.0         6
52490.0         6
22328.0         6
3957.0          6
114697.0        6
53540.0         6
29450.0         6
22866.0         6
88313.0         6
99820.0         6
7717.0          5
5253.0          5
5211.0          5
3882.0          5
5298.0          5
80640.0         5
8854.0          5
23042.0         5
7950.0          5
4014.0          5
7725.0          5
68528.0         5
305.0           5
313.0           5
3840.0          5
3842.0          5
263.0           5
22406.0         5
317.0           5
87959.0         5
7702.0          5
4632.0          5
104654.0        5
7327.0          5
3834.0          5
29531.0         5
7450.0          5
4313.0          5
5058.0          5
5775.0          5
12751.0         5
1891.0          5
9582.0          5
29435.0         5
5057.0          5
10648.0         5
23684.0         5
19037.0         5
14816.0         5
23744.0         5
29459.0         5
7815.0          5
9625.0          5
9607.0          5
29637.0         5
29508.0         5
29513.0         5
385.0           5
337.0           5
9678.0          5
3809.0          5
9394.0          5
1820.0          5
338.0           5
8965.0          5
67754.0         5
459.0           5
5306.0          5
466.0           5
395.0           5
9383.0          5
106775.0        5
2763.0          5
5351.0          5
5510.0          5
38132.0         5
12769.0         5
5268.0          5
396.0           5
23624.0         5
80695.0         5
12770.0         5
29633.0         5
9274.0          4
294.0           4
431.0           4
23188.0         4
11256.0         4
856.0           4
4002.0          4
7072.0          4
4679.0          4
4648.0          4
1512.0          4
80668.0         4
12322.0         4
5799.0          4
53970.0         4
6926.0          4
88692.0         4
84473.0         4
23224.0         4
7995.0          4
896.0           4
651.0           4
3992.0          4
285.0           4
33488.0         4
92816.0         4
80850.0         4
5527.0          4
5423.0          4
7340.0          4
622.0           4
49692.0         4
23447.0         4
10621.0         4
1510.0          4
1225.0          4
30734.0         4
332.0           4
5130.0          4
80912.0         4
5102.0          4
486.0           4
3848.0          4
5098.0          4
330.0           4
69470.0         4
69477.0         4
3831.0          4
3914.0          4
69178.0         4
7795.0          4
398.0           4
7493.0          4
9702.0          4
30625.0         4
89455.0         4
9637.0          4
8286.0          4
44676.0         4
5767.0          4
79449.0         4
23720.0         4
22430.0         4
21876.0         4
13225.0         4
5110.0          4
6286.0          4
3928.0          4
636.0           4
5214.0          4
23628.0         4
70053.0         4
635.0           4
4023.0          4
670.0           4
22397.0         4
5600.0          4
1810.0          4
1830.0          4
44545.0         4
12453.0         4
5180.0          4
80610.0         4
4708.0          4
52844.0         4
52874.0         4
7746.0          4
7749.0          4
1456.0          4
6253.0          4
38154.0         4
22865.0         4
316.0           4
13014.0         4
15123.0         4
3974.0          4
7303.0          4
68649.0         4
612.0           4
3942.0          4
104390.0        4
7292.0          4
22287.0         4
2664.0          4
303.0           4
89445.0         3
13250.0         3
22410.0         3
9319.0          3
99682.0         3
714.0           3
9677.0          3
5770.0          3
5238.0          3
4873.0          3
7320.0          3
1222.0          3
22401.0         3
419.0           3
79463.0         3
5399.0          3
98817.0         3
38141.0         3
2383.0          3
22441.0         3
106252.0        3
5570.0          3
12359.0         3
22256.0         3
302.0           3
409.0           3
5254.0          3
8319.0          3
105002.0        3
22263.0         3
9403.0          3
39872.0         3
7336.0          3
53249.0         3
5577.0          3
5559.0          3
12909.0         3
103065.0        3
5249.0          3
12432.0         3
79448.0         3
12767.0         3
11114.0         3
99545.0         3
6370.0          3
99547.0         3
22524.0         3
11112.0         3
24566.0         3
1794.0          3
98208.0         3
1075.0          3
10195.0         3
67495.0         3
4697.0          3
1837.0          3
29421.0         3
117772.0        3
5312.0          3
23743.0         3
7367.0          3
4325.0          3
5193.0          3
29507.0         3
7379.0          3
270.0           3
649.0           3
1847.0          3
86642.0         3
1849.0          3
5113.0          3
85200.0         3
46019.0         3
7335.0          3
21920.0         3
21925.0         3
5088.0          3
84775.0         3
116275.0        3
81384.0         3
5300.0          3
23927.0         3
23291.0         3
7281.0          3
116524.0        3
7286.0          3
7294.0          3
86573.0         3
23909.0         3
3937.0          3
45518.0         3
98200.0         3
10971.0         3
5095.0          3
23810.0         3
92075.0         3
3975.0          3
21830.0         3
333.0           3
88004.0         3
7461.0          3
22885.0         3
5127.0          3
85617.0         3
30719.0         3
5129.0          3
335.0           3
31092.0         3
22955.0         3
46897.0         3
61673.0         3
7762.0          3
30855.0         3
5181.0          3
86804.0         3
30918.0         3
5366.0          3
7732.0          3
30930.0         3
3869.0          3
5133.0          3
9576.0          3
30636.0         3
3898.0          3
30595.0         3
3796.0          3
324.0           3
86697.0         3
7503.0          3
7724.0          3
1877.0          3
5187.0          3
23431.0         3
23640.0         3
3906.0          3
7809.0          3
3900.0          3
3801.0          3
3804.0          3
22873.0         3
81948.0         3
68614.0         3
7807.0          3
68605.0         3
7801.0          3
68599.0         3
70040.0         3
4354.0          3
10520.0         3
22163.0         3
73617.0         3
115498.0        3
84694.0         3
5293.0          3
84443.0         3
647.0           3
27959.0         3
22167.0         3
8852.0          3
22166.0         3
7949.0          3
664.0           3
5278.0          3
2759.0          3
6102.0          3
83354.0         3
28104.0         3
22162.0         3
5540.0          3
3986.0          3
1519.0          3
1848.0          3
45297.0         3
7956.0          3
3979.0          3
114180.0        3
96797.0         3
22440.0         3
70611.0         3
5059.0          3
115700.0        3
382.0           3
28952.0         3
88110.0         3
5071.0          3
88097.0         3
115563.0        3
29408.0         3
5073.0          3
80722.0         3
7915.0          3
88725.0         3
19052.0         3
3954.0          3
8392.0          3
3966.0          3
11092.0         3
9276.0          3
4629.0          3
1235.0          2
5908.0          2
6074.0          2
24547.0         2
80913.0         2
23658.0         2
23433.0         2
69632.0         2
15408.0         2
80929.0         2
2473.0          2
30980.0         2
83316.0         2
97083.0         2
22403.0         2
22550.0         2
92387.0         2
3853.0          2
23533.0         2
99805.0         2
6099.0          2
6104.0          2
381.0           2
80774.0         2
23425.0         2
22409.0         2
83334.0         2
5186.0          2
41074.0         2
23621.0         2
82087.0         2
80713.0         2
98379.0         2
5296.0          2
6156.0          2
41010.0         2
81225.0         2
47375.0         2
5094.0          2
81697.0         2
40656.0         2
23774.0         2
12407.0         2
47590.0         2
23258.0         2
92496.0         2
95197.0         2
12401.0         2
98664.0         2
83397.0         2
23264.0         2
12334.0         2
5093.0          2
98646.0         2
5195.0          2
39886.0         2
98675.0         2
79844.0         2
5780.0          2
95657.0         2
99854.0         2
82371.0         2
624.0           2
1500.0          2
5819.0          2
5682.0          2
1499.0          2
39790.0         2
92069.0         2
5783.0          2
5190.0          2
23695.0         2
99533.0         2
82269.0         2
23703.0         2
80647.0         2
6040.0          2
81222.0         2
23714.0         2
22427.0         2
23719.0         2
12066.0         2
377.0           2
91429.0         2
73712.0         2
81720.0         2
5064.0          2
99489.0         2
98600.0         2
24081.0         2
1504.0          2
23736.0         2
30948.0         2
23737.0         2
45561.0         2
5175.0          2
12027.0         2
23748.0         2
80612.0         2
10545.0         2
705.0           2
99864.0         2
29434.0         2
29505.0         2
461.0           2
85087.0         2
1081.0          2
29483.0         2
29449.0         2
69233.0         2
29413.0         2
7314.0          2
69348.0         2
87604.0         2
7341.0          2
21913.0         2
7330.0          2
14657.0         2
7319.0          2
7384.0          2
29549.0         2
5465.0          2
8630.0          2
3781.0          2
86979.0         2
3769.0          2
262.0           2
68698.0         2
86998.0         2
68702.0         2
297.0           2
21760.0         2
68722.0         2
1876.0          2
21797.0         2
7458.0          2
10928.0         2
4288.0          2
84911.0         2
69696.0         2
12312.0         2
8851.0          2
88021.0         2
70234.0         2
88023.0         2
70262.0         2
84699.0         2
88108.0         2
5508.0          2
88138.0         2
4357.0          2
71008.0         2
84680.0         2
114875.0        2
114874.0        2
8899.0          2
484.0           2
5286.0          2
115925.0        2
137.0           2
30960.0         2
115982.0        2
69717.0         2
69756.0         2
7302.0          2
7301.0          2
8720.0          2
58320.0         2
21982.0         2
69927.0         2
116387.0        2
87960.0         2
1817.0          2
3964.0          2
116081.0        2
3764.0          2
5501.0          2
5339.0          2
68641.0         2
68629.0         2
511.0           2
10808.0         2
7981.0          2
3987.0          2
8396.0          2
7960.0          2
7943.0          2
3971.0          2
8413.0          2
15220.0         2
7310.0          2
3949.0          2
3947.0          2
3946.0          2
3945.0          2
7888.0          2
3939.0          2
8384.0          2
            ...
82273.0         1
20503.0         1
82055.0         1
82056.0         1
698.0           1
82107.0         1
5134.0          1
1831.0          1
5140.0          1
80335.0         1
28228.0         1
4687.0          1
38117.0         1
9542.0          1
19100.0         1
9552.0          1
9554.0          1
1195.0          1
76546.0         1
76557.0         1
2394.0          1
599.0           1
30648.0         1
9597.0          1
9598.0          1
9606.0          1
76946.0         1
76998.0         1
9627.0          1
9630.0          1
77120.0         1
19281.0         1
38118.0         1
19035.0         1
3851.0          1
9516.0          1
4690.0          1
4905.0          1
4696.0          1
75165.0         1
4698.0          1
4699.0          1
9406.0          1
4705.0          1
4711.0          1
2358.0          1
18867.0         1
4718.0          1
2362.0          1
9451.0          1
75649.0         1
18927.0         1
7800.0          1
92776.0         1
76079.0         1
19316.0         1
9662.0          1
9663.0          1
9665.0          1
9822.0          1
2458.0          1
19683.0         1
19698.0         1
79007.0         1
467.0           1
1833.0          1
79444.0         1
79454.0         1
79455.0         1
79467.0         1
79675.0         1
6052.0          1
2728.0          1
2495.0          1
79857.0         1
2497.0          1
2498.0          1
80011.0         1
2455.0          1
9810.0          1
19601.0         1
77783.0         1
9667.0          1
3863.0          1
9675.0          1
605.0           1
468.0           1
9692.0          1
9694.0          1
9710.0          1
5478.0          1
9798.0          1
9736.0          1
982.0           1
609.0           1
11540.0         1
7788.0          1
2445.0          1
19562.0         1
9788.0          1
86295.0         1
46153.0         1
5396.0          1
115068.0        1
3389.0          1
27137.0         1
27140.0         1
108561.0        1
54342.0         1
54428.0         1

Now, what we want is to transform all the area_ids that are not 1 (country), into country, to be able to do our visualization by country.

If we look at the Musicbrainz Database schema, we can see that they have some tables that convert the different areas into ISO3166 standard codes:

In [46]:
#The first ISO file that we have gives us the country ISO code for the area_id that are countries:
iso_countries = pd.read_csv('Musicbrainz/Tables_used/iso_3166_1.txt',sep='\t', header=None, engine='c')
iso_countries.columns = ['area_id','country_code']
iso_countries.head()

   area_id country_code
0        1           AF
1        2           AL
2        3           DZ
3        4           AS
4        5           AD

In [47]:
#The second ISO file that we have, gives us the country ISO code and the region for the area_id that are not countries:
iso_areas = pd.read_csv('Musicbrainz/Tables_used/iso_3166_2.txt',sep=',', header=None, engine='c')
iso_areas.columns = ['area_id','country_code','region']
iso_areas.head()

   area_id country_code region
0      261           US     MD
1      262           US     AK
2      263           US     AL
3      264           US     AR
4      265           US     AZ

We can now merge our dataframe to retrieve the country code for all the areas:

In [48]:
df6 = pd.merge(df5, iso_countries, how='left', on='area_id')
df6.head()

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x,artist_id,artist_mbid,artist_name_x,start_year,start_area1,start_area2,area_mbid,area_name,area_type,country_code
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742,81.0,2002,NaN,NaN,NaN,NaN,NaN,NaN,85752fda-13c4-31a3-bee5-0e5cb1f51dad,Germany,1.0,DE
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742,221.0,2002,NaN,NaN,NaN,NaN,NaN,NaN,8a754a16-0027-3a29-b6d7-2b40ea0481ed,United Kingdom,1.0,GB
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360,81.0,1999,NaN,NaN,NaN,NaN,NaN,NaN,85752fda-13c4-31a3-bee5-0e5cb1f51dad,Germany,1.0,DE
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189,81.0,1997,NaN,NaN,NaN,NaN,NaN,NaN,85752fda-13c4-31a3-bee5-0e5cb1f51dad,Germany,1.0,DE
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299,107.0,1998,NaN,NaN,NaN,NaN,NaN,NaN,2db42837-c832-3c27-b4a3-08198f75693c,Japan,1.0,JP

In [49]:
#Now, we can merge with the other ISO file:
df7 = pd.merge(df6, iso_areas, how='left', on='area_id')
df7.head()

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x,artist_id,artist_mbid,artist_name_x,start_year,start_area1,start_area2,area_mbid,area_name,area_type,country_code_x,country_code_y,region
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742,81.0,2002,NaN,NaN,NaN,NaN,NaN,NaN,85752fda-13c4-31a3-bee5-0e5cb1f51dad,Germany,1.0,DE,NaN,NaN
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742,221.0,2002,NaN,NaN,NaN,NaN,NaN,NaN,8a754a16-0027-3a29-b6d7-2b40ea0481ed,United Kingdom,1.0,GB,NaN,NaN
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360,81.0,1999,NaN,NaN,NaN,NaN,NaN,NaN,85752fda-13c4-31a3-bee5-0e5cb1f51dad,Germany,1.0,DE,NaN,NaN
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189,81.0,1997,NaN,NaN,NaN,NaN,NaN,NaN,85752fda-13c4-31a3-bee5-0e5cb1f51dad,Germany,1.0,DE,NaN,NaN
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299,107.0,1998,NaN,NaN,NaN,NaN,NaN,NaN,2db42837-c832-3c27-b4a3-08198f75693c,Japan,1.0,JP,NaN,NaN

In [50]:
df7.isnull().sum(axis=0)

release_id              0
release_mbid            0
release_name            5
credit_id               0
area_id            269922
release_year_x          0
artist_id          716062
artist_mbid        716062
artist_name_x      716066
start_year        1514278
start_area1       1255020
start_area2       1660616
area_mbid          269922
area_name          269922
area_type          313728
country_code_x     287010
country_code_y    1973486
region            1973486
dtype: int64

If we look at the column "country_code_x", we can see that 287010 rows are missing. If we bring the value of the column "country_code_y" for those rows, we shoul have more rows filled.

In [51]:
df7.country_code_x = np.where(df7.country_code_x.isnull(), df7.country_code_y, df7.country_code_x )

In [52]:
df7.isnull().sum(axis=0)

release_id              0
release_mbid            0
release_name            5
credit_id               0
area_id            269922
release_year_x          0
artist_id          716062
artist_mbid        716062
artist_name_x      716066
start_year        1514278
start_area1       1255020
start_area2       1660616
area_mbid          269922
area_name          269922
area_type          313728
country_code_x     281761
country_code_y    1973486
region            1973486
dtype: int64

We have now 281761 rows missing in "country_code_x", so 5249 less than before.

We are now going to remove the rows and columns that we don't need, in order to have a cleaner Dataframe for later.

In [53]:
#Drop the rows that don't have "area_id":
df7.dropna(subset=['area_id'], axis=0, inplace=True)
#Drop the columns that we don't need anymore for our analysis:
df7.drop(labels=['artist_mbid','start_year','start_area1','start_area2','area_mbid','country_code_y','region'], axis=1, inplace=True)
df7 = df7.rename(columns={'country_code_x':'country_code'})
df7.head()

,release_id,release_mbid,release_name,credit_id,area_id,release_year_x,artist_id,artist_name_x,area_name,area_type,country_code
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742,81.0,2002,NaN,NaN,Germany,1.0,DE
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742,221.0,2002,NaN,NaN,United Kingdom,1.0,GB
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360,81.0,1999,NaN,NaN,Germany,1.0,DE
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189,81.0,1997,NaN,NaN,Germany,1.0,DE
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299,107.0,1998,NaN,NaN,Japan,1.0,JP

In [54]:
len(df7)

1721687

In [55]:
#Do we have any duplicate release?
df7['release_id'].nunique()

1721634

In [56]:
#Let's get rid of the duplicates:
df7.drop_duplicates(subset='release_id', inplace=True)
len(df7)

1721634

Now, we want to see the names of the different countries remaining, to see if there is any inconsistency:

In [57]:
#We build a temporary dataframe which converts country code to its name:
countries = areas.copy()
countries.drop(countries[countries['area_type'] != 1].index , inplace=True)
countries.drop(labels=['area_mbid','area_type'], axis=1, inplace=True)
a = pd.merge(countries, iso_countries, how='left', on='area_id')
a = a.rename(columns={'area_name':'country_name'})
a.head()

   area_id country_name country_code
0       38       Canada           CA
1       43        Chile           CL
2       44        China           CN
3       36     Cambodia           KH
4       78        Gabon           GA

In [58]:
#Now, we can match our dataframe with the temporary conversion dataframe:
df8 = pd.merge(df7, a, how='left', on='country_code')
df8.drop(labels=['area_id_y'], axis=1, inplace=True)
df8.head()

,release_id,release_mbid,release_name,credit_id,area_id_x,release_year_x,artist_id,artist_name_x,area_name,area_type,country_code,country_name
0,9,425cf29a-1490-43ab-abfa-7b17a2cec351,A Sorta Fairytale,896742,81.0,2002,NaN,NaN,Germany,1.0,DE,Germany
1,10,a96e1d03-e685-3627-8cba-f5b96be7158f,A Sorta Fairytale,896742,221.0,2002,NaN,NaN,United Kingdom,1.0,GB,United Kingdom
2,11,dd1c5726-5a38-47e1-9747-18b919b9948a,Glory of the 80's,95360,81.0,1999,NaN,NaN,Germany,1.0,DE,Germany
3,12,9660928f-7cd8-4fef-852d-5599dc4ad3ec,Silent All These Years,104189,81.0,1997,NaN,NaN,Germany,1.0,DE,Germany
4,26,dd245091-b21e-48a3-b59a-f9b8ed8a0469,Demons,94299,107.0,1998,NaN,NaN,Japan,1.0,JP,Japan

In [59]:
#Let's analyze the names of the countries:
df8.country_name.value_counts()

United States                                   485290
United Kingdom                                  250755
Germany                                         190463
Japan                                           168659
France                                           88635
Netherlands                                      37872
Canada                                           37217
Italy                                            37148
Australia                                        34926
Finland                                          28773
Sweden                                           28360
Spain                                            26546
Russia                                           22944
Brazil                                           17967
Belgium                                          16319
Poland                                           13086
Namibia                                          11839
Kingdom of the Netherlands                       11839
Austria                                          11015
South Korea                                      10015
Denmark                                           9534
Norway                                            9387
Argentina                                         8340
Switzerland                                       8279
Greece                                            8240
Mexico                                            7446
India                                             6460
Turkey                                            6148
Hong Kong                                         5858
Czech Republic                                    5768
New Zealand                                       5577
Taiwan                                            5168
Hungary                                           4864
Portugal                                          4322
South Africa                                      3927
Estonia                                           3879
Indonesia                                         3299
Israel                                            3275
Ireland                                           3236
Philippines                                       3009
Colombia                                          2867
Ukraine                                           2499
Slovenia                                          2442
Romania                                           2402
China                                             2048
Chile                                             1913
Jamaica                                           1893
Latvia                                            1809
Slovakia                                          1751
Croatia                                           1677
Soviet Union                                      1462
Puerto Rico                                       1460
Yugoslavia                                        1299
Iceland                                           1150
Serbia                                            1122
Lithuania                                          986
Czechoslovakia                                     805
Venezuela                                          732
Bulgaria                                           703
Uruguay                                            645
Belarus                                            628
Peru                                               605
Singapore                                          605
Cuba                                               571
Malaysia                                           568
Luxembourg                                         545
East Germany                                       494
Egypt                                              493
Thailand                                           463
Iran                                               348
Vietnam                                            316
Nigeria                                            306
Dominican Republic                                 270
Serbia and Montenegro                              247
Lebanon                                            242
United Arab Emirates                               214
Pakistan                                           187
Ecuador                                            172
Nicaragua                                          168
Costa Rica                                         166
Macedonia                                          149
Bosnia and Herzegovina                             145
Bolivia                                            144
Réunion                                            138
Andorra                                            138
Bangladesh                                         131
Faroe Islands                                      127
North Korea                                        124
Algeria                                            117
Georgia                                            110
Trinidad and Tobago                                108
Malta                                              105
Cyprus                                             103
Morocco                                            103
Panama                                              99
Senegal                                             95
Guatemala                                           89
Greenland                                           88
Ghana                                               88
Kenya                                               86
Armenia                                             86
Sri Lanka                                           80
Mali                                                80
Kazakhstan                                          75
Albania                                             67
Haiti                                               65
Moldova                                             65
Guadeloupe                                          63
Nepal                                               62
Cape Verde                                          62
U.S. Virgin Islands                                 59
Angola                                              55
Saudi Arabia                                        55
Zimbabwe                                            53
Democratic Republic of the Congo                    53
Azerbaijan                                          50
Barbados                                            48
Tunisia                                             47
Mongolia                                            43
Martinique                                          41
Afghanistan                                         39
New Caledonia                                       38
Paraguay                                            36
Côte d'Ivoire                                       35
Ethiopia                                            35
Guinea                                              34
Madagascar                                          34
Honduras                                            32
Bahamas                                             32
Liechtenstein                                       32
Cambodia                                            31
Botswana                                            30
Benin                                               28
Cameroon                                            28
Tanzania                                            28
Jordan                                              28
Mauritius                                           27
Uganda                                              27
Syria                                               25
Isle of Man                                         25
Belize                                              24
Uzbekistan                                          20
Zambia                                              20
Monaco                                              19
Papua New Guinea                                    18
French Guiana                                       18
El Salvador                                         18
Jersey                                              18
Montenegro                                          16
Palestine                                           15
Mozambique                                          15
Swaziland                                           14
Congo                                               13
Kyrgyzstan                                          13
Brunei                                              12
Myanmar                                             12
Burkina Faso                                        12
French Polynesia                                    11
Gabon                                               11
Bermuda                                             10
Bahrain                                             10
Kuwait                                              10
Laos                                                10
Aruba                                                9
Netherlands Antilles                                 9
San Marino                                           9
Qatar                                                9
Oman                                                 8
Antigua and Barbuda                                  8
Gambia                                               8
Iraq                                                 8
Niger                                                8
Suriname                                             8
Maldives                                             7
Gibraltar                                            6
Togo                                                 6
Malawi                                               6
Antarctica                                           5
Turkmenistan                                         5
Dominica                                             5
Guinea-Bissau                                        5
Vanuatu                                              5
Tokelau                                              5
Saint Vincent and The Grenadines                     5
Guernsey                                             5
Grenada                                              5
Sudan                                                4
Seychelles                                           4
Fiji                                                 4
Cook Islands                                         4
Åland Islands                                        4
Cayman Islands                                       4
Tajikistan                                           3
Western Sahara                                       3
Burundi                                              3
Guyana                                               3
Anguilla                                             3
Solomon Islands                                      3
Macao                                                3
Somalia                                              3
Lesotho                                              3
Bhutan                                               3
Samoa                                                3
Comoros                                              3
Mauritania                                           3
Norfolk Island                                       3
Sierra Leone                                         3
British Virgin Islands                               2
South Sudan                                          2
American Samoa                                       2
Timor-Leste                                          2
Federated States of Micronesia                       2
Saint Helena, Ascension and Tristan da Cunha         2
Sao Tome and Principe                                2
Rwanda                                               2
Saint Lucia                                          1
Central African Republic                             1
Curaçao                                              1
Liberia                                              1
Saint Barthélemy                                     1
Bonaire, Sint Eustatius and Saba                     1
Saint Pierre and Miquelon                            1
Saint Martin (French part)                           1
Equatorial Guinea                                    1
Montserrat                                           1
Yemen                                                1
Name: country_name, dtype: int64

If we have a quick look at the names listed above, we can see that some of them are not 100% accurate or need some updates. Here are a few examples:

- There is one country called "Netherlands" and another one "Kingdom of the Netherlands"
- There is a country named "Czech Republic" and another one "Czechoslovakia"
- There is a country named "Soviet Union" and another one "Russia"

In order to update the countries' names and have accurate information, we have copied the official list of countries and their capitals into a .txt file (the list of countries is available in: https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_and_their_capitals_in_native_languages).

In [60]:
wiki_countries = pd.read_csv('Musicbrainz/Tables_used/wiki_countries.txt',sep=',', header=0)
wiki_countries.head()

          Country    Capital
0     Afghanistan      Kabul
1   Åland Islands  Mariehamn
2         Albania     Tirana
3         Algeria    Algiers
4  American Samoa  Pago Pago

After that, I have compared one by one each of the countries appearing in our df8 and do the following replacements:

In [61]:
df8.replace('Bahamas','The Bahamas',inplace=True)
df8.replace('Bonaire, Sint Eustatius and Saba','Netherlands',inplace=True)
df8.replace('Congo','Republic of the Congo',inplace=True)
df8.replace('Czechoslovakia','Czech Republic',inplace=True)
df8.replace('East Germany','Germany',inplace=True)
df8.replace('Gambia','The Gambia',inplace=True)
df8.replace('Kingdom of the Netherlands','Netherlands',inplace=True)
df8.replace('Macao','Macau',inplace=True)
df8.replace('Macedonia','North Macedonia',inplace=True)
df8.replace('Netherlands Antilles','Netherlands',inplace=True)
df8.replace('Saint Helena, Ascension and Tristan da Cunha','Saint Helena',inplace=True)
df8.replace("Saint Martin (French part)",'Saint Martin',inplace=True)
df8.replace("Sao Tome and Principe",'SÃ£o TomÃ©and PrÃ­ncipe',inplace=True)
df8.replace("Serbia and Montenegro",'Serbia',inplace=True)
df8.replace('Soviet Union','Russia',inplace=True)
df8.replace('Swaziland','Eswatini',inplace=True)
df8.replace('Timor-Leste','East Timor',inplace=True)
df8.replace('Tokelau','New Zealand',inplace=True)
df8.replace('U.S. Virgin Islands','United States Virgin Islands',inplace=True)
df8.replace('Western Sahara','Sahrawi Arab Democratic Republic',inplace=True)
df8.replace('Yugoslavia','Serbia',inplace=True) #I had to chose one for Yugoslavia
df8.drop(df8[df8['country_name'] == 'Antarctica'].index , inplace=True) #Doesn't exist as a country

Now that we have the country names normalized, we can match each of them with their capitals and their coordinates using Pygeocoder with the Google Maps API key (you don't need to do the Geocoding, I have saved a copy of the resulting file with coordinates: wiki_coords.txt)

If you want to follow the geocoding, please run the following commands:
    
API_key = "YOUR_API_KEY"

capitals = wiki_countries['Capital'].values.tolist()

coordinates = []

for i in capitals:

    result = Geocoder(api_key=API_key).geocode(i).coordinates
    coordinates.append(result)

wiki_countries['coordinates'] = coordinates


wiki_countries.head()


And, if you want to save your own file:

wiki_countries.to_csv('wiki_coords.txt',index=None, sep="\t")

In [62]:
wiki_coords = pd.read_csv('Musicbrainz/Tables_used/wiki_coords.txt',sep=',', header=0)
wiki_coords.head()

          Country    Capital                  coordinates
0     Afghanistan      Kabul      (34.5553494, 69.207486)
1   Åland Islands  Mariehamn     (60.0970945, 19.9348339)
2         Albania     Tirana     (41.3275459, 19.8186982)
3         Algeria    Algiers       (36.753768, 3.0587561)
4  American Samoa  Pago Pago  (-14.2756319, -170.7020359)

Now, what we want is to create two columns, "latitude" and "longitude", as they will be our x and y axis in our visualization:

In [116]:
lat = []
lng = []

for row in wiki_coords['coordinates']:
    a = tuple(wiki_coords['coordinates'][row])
    lat.append(float(a.split(',')[0]))
    lng.append(float(a.split(',')[1]))

wiki_coords['latitude'] = lat
wiki_coords['longitude'] = lng

wiki_coords.head()

KeyError: '(34.5553494, 69.207486)'

In [114]:
type(tuple(wiki_coords['coordinates'][1]))

tuple

In [63]:
df8.to_csv('df8.csv',index=None)