In [4]:
#Please note that this is a Python 2 environment:
import wikipedia
import requests
import json
import wptools

In [5]:
def read_wiki_page(wikipage):
    url = "https://en.wikipedia.org/w/api.php?action=query&prop=revisions&rvprop=content&rvsection=0&titles="+wikipage+"&format=json"
    ret=""
    req={}
    
    req["action"]="query"
    req["prop"]="revisions"
    req["rvprop"]="content"
    req["rvsection"]=0
    req["titles"]=wikipage
    req["format"]="json"
    
    
    r=requests.post(url, data=req )
    res = r.text
    res=json.loads(str(res))
    pages = res["query"]["pages"]
    for key, value in pages.items():
        ret=value["revisions"][0]["*"]
    
    return ret

In [6]:
def read_birthplace(page): #If the artist is a person, we need the birth place, if it's a band, their origin
    
    if 'birth_place' in page:
        pos_start=page.find('birth_place')
        pos_equal=page.find("=",pos_start)+1
        pos_end=page.find("\n",pos_equal)
        return str(page[pos_equal:pos_end])
    elif 'origin' in page:
        pos_start=page.find('origin')
        pos_equal=page.find("[[",pos_start)
        pos_end=page.find("\n",pos_equal)
        return str(page[pos_equal:pos_end])

def extract_genre(page):
    pos_start=page.find('genre')
    pos_equal=page.find("[[",pos_start)+2 #We extract the main genre for each artist
    pos_end=page.find("|",pos_equal)
    
    return str(page[pos_equal:pos_end])

In [7]:
page = wptools.page('Elton John')
page.get_query()

en.wikipedia.org (query) Elton John
en.wikipedia.org (query) Elton John (&plcontinue=5052197|0|Fatboy_Slim)
en.wikipedia.org (query) Elton John (&plcontinue=5052197|0|Nation...
en.wikipedia.org (query) Elton John (&plcontinue=5052197|0|Up_Whe...
en.wikipedia.org (imageinfo) File:Elton John 2011 Shankbone 2.JPG
Elton John (en) data
{
  WARNINGS: <dict(1)> extracts
  aliases: <list(4)> 00042308022 IPI, Reg Dwight, Reginald Kenneth...
  assessments: <dict(7)> England, Pop music, LGBT studies, Musical...
  description: English rock singer-songwriter, composer and pianist
  extext: <str(3491)> **Sir Elton Hercules John** (born **Reginald...
  extract: <str(3679)> <p class="mw-empty-elt"></p><p><b>Sir Elton...
  image: <list(8)> {u'size': 1158513, 'kind': 'query-pageimage', u...
  label: Elton John
  length: 147,138
  links: <list(1580)> (Everything I Do) I Do It for You, (I've Had...
  modified: <dict(1)> page
  pageid: 5052197
  random: Hayters Hill, New South Wales
  redirects: <list(32)> {u'ns': 0, u'pageid': 168386, u'title': u'...
  requests: <list(5)> query, query, query, query, imageinfo
  title: Elton John
  url: https://en.wikipedia.org/wiki/Elton_John
  url_raw: https://en.wikipedia.org/wiki/Elton_John?action=raw
  watchers: 851
  wikibase: Q2808
  wikidata_url: https://www.wikidata.org/wiki/Q2808
}

In [8]:
page.get()

www.wikidata.org (wikidata) Q2808
www.wikidata.org (labels) P1375|P5121|P2267|P434|Q177220|Q1860|P4...
www.wikidata.org (labels) P742|P2850|P3192|Q170027|P5284|Q6166964...
www.wikidata.org (labels) P1207|P271|P3280|P358|P1828|Q855091|P63...
www.wikidata.org (labels) P21|P910|P950|P2397|P734|Q7135347|P1477...
+ query results in cache
en.wikipedia.org (parse) 5052197
en.wikipedia.org (restbase) /page/summary/Elton John
en.wikipedia.org (imageinfo) File:Elton John 2011 Shankbone 2.JPG
Elton John (en) data
{
  WARNINGS: <dict(1)> extracts
  aliases: <list(4)> Reg Dwight, Sir Elton Hercules John, Reginald...
  assessments: <dict(7)> England, Pop music, LGBT studies, Musical...
  claims: <dict(114)> P646, P1375, P800, P2031, P2267, P434, P648,...
  description: English rock singer-songwriter, composer and pianist
  exhtml: <str(922)> <p><b>Sir Elton Hercules John</b> is an Engli...
  exrest: <str(832)> Sir Elton Hercules John is an English singer,...
  extext: <str(3491)> **Sir Elton Hercules John** (born **Reginald...
  extract: <str(3679)> <p class="mw-empty-elt"></p><p><b>Sir Elton...
  image: <list(12)> {u'size': 1158513, 'kind': 'query-pageimage', ...
  infobox: <dict(13)> name, honorific_suffix, image, module, capti...
  iwlinks: <list(7)> https://commons.wikimedia.org/wiki/Special:Se...
  label: Elton John
  labels: <dict(176)> P1375, Q2482872, P2267, P434, Q177220, Q1860...
  length: 147,138
  links: <list(1580)> (Everything I Do) I Do It for You, (I've Had...
  modified: <dict(2)> wikidata, page
  pageid: 5052197
  parsetree: <str(180778)> <root><template><title>about</title><pa...
  random: Hayters Hill, New South Wales
  redirects: <list(32)> {u'ns': 0, u'pageid': 168386, u'title': u'...
  requests: <list(13)> query, query, query, query, imageinfo, wiki...
  title: Elton_John
  url: https://en.wikipedia.org/wiki/Elton John
  url_raw: https://en.wikipedia.org/wiki/Elton John?action=raw
  watchers: 851
  what: human
  wikibase: Q2808
  wikidata: <dict(114)> SUDOC authorities ID (P269), discography (...
  wikidata_pageid: 3790
  wikidata_url: https://www.wikidata.org/wiki/Q2808
  wikitext: <str(145908)> {{about||the footballer|Elton John (foot...
}

In [97]:
b =read_wiki_page('The Beatles')
read_birthplace(b)

'[[Liverpool]], England'

In [98]:
a =read_wiki_page('Metallica')
extract_genre(a)

'Heavy metal music'

In [90]:
read_birthplace(page)

' [[Jerez de la Frontera]], [[Spain]]'

In [101]:
extract_genre(page)

'Andalusia]]n folklore\n'

In [87]:
a = read_infobox(page)

In [148]:
read_birthplace(a)

' [[St. Louis|St. Louis, Missouri]], U.S.'

In [149]:
page=read_wiki_page("Adele")
read_birthplace(read_infobox(page))

' [[Tottenham]], London, England'

In [122]:
get_music_infobox(page)

u'{{Infobox musical artist <!-- See Wikipedia:WikiProject_Musicians -->\n| embed            = yes\n| background       = solo_singer\n| instrument       = Guitar, vocals\n| genre            = [[Rock and roll]]\n| years_active     = 1953\u20132016\n| label            = {{hlist|[[Chess Records|Chess]]|[[Mercury Records|Mercury]]|[[Atco Records|Atco]]|[[Dualtone Records|Dualtone]]}}\n| associated_acts  = {{hlist|[[Johnnie Johnson (musician)|Johnnie Johnson]]|[[T-Bone Walker]]|[[Muddy Waters]]}}\n}'

In [125]:
extract_genre(page)

'Rock and roll'

In [110]:
page2 = read_wiki_page("Elvis Presley")

In [114]:
get_music_infobox(page2)

u"{{Infobox musical artist|embed=yes\n | instrument   = {{flat list|\n* Vocals\n* guitar\n* piano\n}}<!--- If you think an instrument should be listed, a discussion to reach consensus is needed first per: https://en.wikipedia.org/wiki/Template:Infobox_musical_artist#instrument--->\n | background   = solo_singer\n | genre        = {{flat list|\n* [[Rock and roll]]\n* [[Pop music|pop]]\n* [[rockabilly]]\n* [[Country music|country]]\n* [[blues]]\n* [[Gospel music|gospel]]\n* [[rhythm and blues]]\n}}\n | label        = {{flatlist|\n* [[Sun Records|Sun]]\n* [[RCA Records|RCA (Victor)]]\n* [[His Master's Voice|HMV]]\n}}\n | years_active = 1953\u20131977\n | associated_acts = {{flatlist|\n* [[The Blue Moon Boys]]\n* [[The Jordanaires]]\n* [[The Imperials]]\n* [[Million Dollar Quartet]]\n}}\n}"

In [126]:
extract_genre(page2)

'Rock and roll'

In [168]:
get_music_infobox(page)

u"{{Infobox musical artist  <!-- See Wikipedia:WikiProject Musicians -->\n| name           = Lola Flores\n| image          = Estatua Lola Flores Jerez.jpg\n| caption        = Monument in her hometown, [[Jerez de la Frontera]]\n| background     = solo_singer\n| birth_name     = Mar\xeda Dolores Flores Ruiz\n| alias          = ''La Faraona''\n| birth_date     = 21 January 1923 \n|birth_place     = [[Jerez de la Frontera]], [[Spain]]\n| death_date     = {{Death date and age|1995|5|16|1923|1|21|df=y}}\n|"

In [75]:
page = read_wiki_page("Lola Flores")
get_music_infobox(page)

u"{{Infobox musical artist  <!-- See Wikipedia:WikiProject Musicians -->\n| name           = Lola Flores\n| image          = Estatua Lola Flores Jerez.jpg\n| caption        = Monument in her hometown, [[Jerez de la Frontera]]\n| background     = solo_singer\n| birth_name     = Mar\xeda Dolores Flores Ruiz\n| alias          = ''La Faraona''\n| birth_date     = 21 January 1923 \n|birth_place     = [[Jerez de la Frontera]], [[Spain]]\n| death_date     = {{Death date and age|1995|5|16|1923|1|21|df=y}}\n|"

## Extracting data for a list of artists and time it

In [23]:
import time
import pandas as pd
import numpy as np

In [99]:
artist = ["Lady Gaga", "Elton John", "Metallica", "Lola Flores"]
d = {'artist':artist}

In [100]:
data = pd.DataFrame(d)
data

        artist
0    Lady Gaga
1   Elton John
2    Metallica
3  Lola Flores

In [95]:
def retrieve_metadata(df=pd.DataFrame, serie=pd.Series):
    
    start = time.time()
    birth_place = []
    genre = []
    
    for i in serie:
        try:
            page = read_wiki_page(i)
            birth_place.append(read_birthplace(page))
            genre.append(extract_genre(page))
        except:
            birth_place.append(np.nan)
            genre.append(np.nan)
    
    df['birth_place'] = birth_place
    df['genre'] = genre

    end = time.time()
    print(end-start)
    
    return df

In [95]:
def retrieve_metadata(artist):
    
    start = time.time()
    birth_place = []
    genre = []
    
    for i in serie:
        try:
            page = read_wiki_page(i)
            birth_place.append(read_birthplace(page))
            genre.append(extract_genre(page))
        except:
            birth_place.append(np.nan)
            genre.append(np.nan)
    
    df['birth_place'] = birth_place
    df['genre'] = genre

    end = time.time()
    print(end-start)
    
    return df

In [101]:
retrieve_metadata(data, data['artist'])

1.88408899307

,artist,birth_place,genre
0,Lady Gaga,"[[New York City]], [[New York (state)|New Yor...",Pop music
1,Elton John,"[[Pinner]], [[Middlesex]], England",Rock music
2,Metallica,"[[Los Angeles]], [[California]], U.S.",Heavy metal music
3,Lola Flores,"[[Jerez de la Frontera]], [[Spain]]",Andalusia]]n folklore\n

In [158]:
start = time.time()
read_wiki_page('Metallica')
end = time.time()
print(end-start)

0.411010980606

In [11]:
import multiprocessing as mp

In [31]:
artists = pd.read_csv('Musicbrainz/Tables_used/artist.txt',sep='\t', header=None, engine='c', usecols=[0,3])
artists.columns = ['artist_id','artist_name']
artists.head()

   artist_id       artist_name
0     805192             WIK▲N
1     371203      Moutso, Pete
2     273232           Zachary
3     101060  Silhouettes, The
4     145773     Leavitt, Aric

In [67]:
#For the search in Wikipedia to run, we need to format the artists name:

def reverse(word):
    
    if ',' in word:
        b = word.split(',')
        rev = b[-1::-1]
        out = ' '.join(rev)
        return out
    
    else:
        return word

In [76]:
artists['name_formatted'] = artists['artist_name'].apply(lambda x: reverse(str(x)))

In [77]:
artists.head()

   artist_id       artist_name    name_formatted
0     805192             WIK▲N             WIK▲N
1     371203      Moutso, Pete       Pete Moutso
2     273232           Zachary           Zachary
3     101060  Silhouettes, The   The Silhouettes
4     145773     Leavitt, Aric      Aric Leavitt

In [115]:
a = artists.head(100)
a.head()

   artist_id       artist_name    name_formatted
0     805192             WIK▲N             WIK▲N
1     371203      Moutso, Pete       Pete Moutso
2     273232           Zachary           Zachary
3     101060  Silhouettes, The   The Silhouettes
4     145773     Leavitt, Aric      Aric Leavitt

In [96]:
retrieve_metadata(a, a['name_formatted'])

46.228908062

/home/ainhoa/anaconda3/envs/python2/lib/python2.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/ainhoa/anaconda3/envs/python2/lib/python2.7/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,artist_id,artist_name,name_formatted,birth_place,genre
0,805192,WIK▲N,WIK▲N,NaN,NaN
1,371203,"Moutso, Pete",Pete Moutso,NaN,NaN
2,273232,Zachary,Zachary,"[[Zechariah (given name)|Zechariah]], [[Zakari...",{otheruses}}\n{{Infobox given name\n
3,101060,"Silhouettes, The",The Silhouettes,None,{About
4,145773,"Leavitt, Aric",Aric Leavitt,NaN,NaN
5,1076328,Fonograff,Fonograff,NaN,NaN
6,1172876,"Street, Al",Al Street,NaN,NaN
7,220155,Love .45,Love .45,NaN,NaN
8,618464,Sintellect,Sintellect,NaN,NaN
9,285714,Evie Tamala,Evie Tamala,"[[Tasikmalaya]], [[West Java]], [[Indonesia]]",Dangdut]]\n}}\n
10,886708,"Martin, Jean-Pierre",Jean-Pierre Martin,NaN,NaN
11,209107,Deejay One,Deejay One,NaN,NaN
12,388372,wecamewithbrokenteeth,wecamewithbrokenteeth,NaN,NaN
13,726151,"Blackbelt Band, The",The Blackbelt Band,NaN,NaN
14,152659,Giant Tomo,Giant Tomo,NaN,NaN
15,155757,Decoding Jesus,Decoding Jesus,NaN,NaN
16,228311,"Jones, Elvin & Garrison, Jimmy, Sextet",Sextet Jimmy Elvin & Garrison Jones,NaN,NaN
17,407238,Infester,Infester,NaN,NaN
18,421011,"Iglu, DJ & Hartly Dark",DJ & Hartly Dark Iglu,NaN,NaN
19,1000880,Diskobitch,Diskobitch,NaN,NaN
20,471075,Seanews,Seanews,NaN,NaN
21,98827,CyberDog,CyberDog,None,REDIRECT [[Cyberdog]]\n\n{{Redirect category s...
22,1182563,Serge Bec,Serge Bec,NaN,NaN
23,208149,Thirteen Over Eight,Thirteen Over Eight,None,REDIRECT [[Innerpartysystem]
24,998553,Astolat,Astolat,None,"[File:Elaine, by Alfred Tennyson 03.jpg"
25,305463,"Insignificant, The",The Insignificant,NaN,NaN
26,931972,"Wanderers, The",The Wanderers,None,REDIRECT [[Wanderer]
27,438242,"Greville, Andrew",Andrew Greville,NaN,NaN
28,351358,Project/Object,Project/Object,NaN,NaN
29,768072,Imagimusic,Imagimusic,NaN,NaN
...,...,...,...,...,...
70,650352,"Sczebel, Greg",Greg Sczebel,"[[Salmon Arm]], [[British Columbia]], Canada",Soul music
71,1234426,Certified Ryders,Certified Ryders,NaN,NaN
72,1171186,"Wicki, Ludwig",Ludwig Wicki,NaN,NaN
73,57402,MaUVe,MaUVe,NaN,NaN
74,1594768,Malinké,Malinké,None,REDIRECT [[Mandinka people]]\n\n{{Redirect cat...
75,82910,"René, DJ",DJ René,NaN,NaN
76,100481,Spacemaker,Spacemaker,NaN,NaN
77,100483,Cofer Brothers,Cofer Brothers,NaN,NaN
78,835674,"Selditz, Thomas",Thomas Selditz,NaN,NaN
79,100495,Lee Brothers,Lee Brothers,NaN,NaN
80,56526,"Klein, Laurie",Laurie Klein,NaN,NaN
81,837065,Ilse,Ilse,"[[Ilze]], Ilsa",{Infobox given name\n
82,471294,"Hombres, Hispana",Hispana Hombres,NaN,NaN
83,221263,Brotherly,Brotherly,None,redirect [[family]
84,156560,Kak,Kak,None,{wiktionarypar
85,99225,"Grinder, Linda",Linda Grinder,NaN,NaN
86,408828,Grits,Grits,NaN,NaN
87,449917,Sun Wenyan,Sun Wenyan,,{Chinese name
88,777760,Nico ALLSTARS,Nico ALLSTARS,NaN,NaN
89,504201,"Baker, Dorian",Dorian Baker,NaN,NaN
90,57689,"Ceravolo, Enrico",Enrico Ceravolo,NaN,NaN
91,225621,Macho Cat Garage,Macho Cat Garage,NaN,NaN
92,100489,"Hindley, Fisher",Fisher Hindley,NaN,NaN
93,1658355,"Frederick, Christian",Christian Frederick,None,redirect[[Christian VIII of Denmark]
94,98858,Triality,Triality,None,{for
95,815789,"Bennet, Paul",Paul Bennet,,{Infobox person\n
96,98863,Sylverblue,Sylverblue,NaN,NaN
97,142945,"Left Rights, The",The Left Rights,None,REDIRECT [[Mindless Self Indulgence]
98,566607,"Brandenburg, Juliane",Juliane Brandenburg,NaN,NaN
99,889103,Sam,Sam,None,{wiktionary

In [117]:
#https://sebastianraschka.com/Articles/2014_multiprocessing.html
import multiprocessing as mp
# Define an output queue
output = mp.Queue()

def get_1_artist(artist, output):
    try:
        page = read_wiki_page(artist)
        birth_place= read_birthplace(page)
        genre = extract_genre(page)
    except:
        birth_place = np.nan
        genre = np.nan
    output.put([artist, birth_place, genre])

start = time.time()
processes = [mp.Process(target=get_1_artist, args=(name_formatted, output)) for name_formatted in a['name_formatted']]

for p in processes:
    p.start()

print("Processes started")

# Exit the completed processes
for p in processes:
    p.join()

results = [output.get() for p in processes]
end = time.time()
print(end-start)
print(results)

Processes started
2.14195990562
[[' Pete Moutso', nan, nan], ['WIK\xe2\x96\xb2N', nan, nan], [' Al Street', nan, nan], ['Fonograff', nan, nan], [' Aric Leavitt', nan, nan], ['Zachary', '[[Zechariah (given name)|Zechariah]], [[Zakariya]]', '{otheruses}}\n{{Infobox given name\n'], ['Sintellect', nan, nan], ['wecamewithbrokenteeth', nan, nan], [' The Blackbelt Band', nan, nan], [' Jean-Pierre Martin', nan, nan], [' The Silhouettes', None, '{About'], ['Giant Tomo', nan, nan], ['Evie Tamala', ' [[Tasikmalaya]], [[West Java]], [[Indonesia]]', 'Dangdut]]\n}}\n'], ['Diskobitch', nan, nan], ['Seanews', nan, nan], ['Infester', nan, nan], ['Decoding Jesus', nan, nan], ['CyberDog', None, 'REDIRECT [[Cyberdog]]\n\n{{Redirect category shell'], [' The Insignificant', nan, nan], ['Thirteen Over Eight', None, 'REDIRECT [[Innerpartysystem]'], ['Astolat', None, '[File:Elaine, by Alfred Tennyson 03.jpg'], ['Deejay One', nan, nan], ['Serge Bec', nan, nan], ['Sailing Conductors', nan, nan], ['Project/Object', nan, nan], ['Disappointment Incorporated', nan, nan], [' Bruno Macedo', nan, nan], [' The Wanderers', None, 'REDIRECT [[Wanderer]'], [' Andrew Greville', nan, nan], ['Jumbo Jets', nan, nan], ['Stereobate', None, 'REDIRECT [[stylobate]'], ['Imagimusic', nan, nan], ['Gloria Deluxe', None, 'redirect [[Cynthia Hopkins]] {{R from album}'], ['Love .45', nan, nan], [' DJ Reverend', nan, nan], ['Blasco', None, "''Blasco''' is a surname which roots can be found it in [[Aragon]], more specifically in the Jaca's mountains"], [' Allison Williams', None, "''Allison Williams''' may refer to:\n\n*[[Allison Williams (actress)]] (born 1988), American actress\n*[[Allison Williams (reporter)]] (born 1984), ESPN reporter\n*[[Allison Williams (Miss West Virginia)]] (born c. 1981), 2003 pageant titleholde"], ['Current', None, '{wiktionary'], [' Dr. I-Bolit', nan, nan], ['We Barbarians', '[[Long Beach, California|Long Beach]], [[California]], [[United States]]', 'Indie rock]], [[Alternative rock]]\n'], [' Yoshirou Ookura', nan, nan], ['Softys', nan, nan], ['Talkshow Boy', nan, nan], ['Peacemaker', None, '{confused'], [' David Soames', ' [[Grimsby]], England', '{EngvarB'], ['Mike 7', nan, nan], [' George Gao', None, "''George Gao''' ({{zh"], ['Sling Ting', nan, nan], [' Gustav Ruppke', nan, nan], [' Jos\xc3\xa9 Souc', nan, nan], [' Vera Mann', nan, nan], [' The High Level Ranters', '[[Newcastle upon Tyne]], [[Tyne and Wear]]', 'English folk music]], [[Celtic music]]\n'], ['Phluid', nan, nan], ['Sebapola', nan, nan], [' DJ & Hartly Dark Iglu', nan, nan], ['Nodesha', None, '{BLP sources'], ['Antonym', None, 'Redirect [[Opposite (semantics)]]\n\n{{Redirect category shell'], [' Dennis Matthews', None, "''Dennis Matthews''' may refer to"], [' Wieland Samolak', nan, nan], ['Vertebrats', nan, nan], [' Alexander Purkart', nan, nan], ['No Water', nan, nan], [' Susan Enan', ' [[Peterborough]], [[Cambridgeshire]], [[England]]', 'Acoustic music'], [' Teresa Catal\xc3\xa1n', nan, nan], ['Certified Ryders', nan, nan], [' Greg Sczebel', '[[Salmon Arm]], [[British Columbia]], Canada', 'Soul music'], ['Champale', None, '{Use dmy dates'], [' Ludwig Wicki', nan, nan], ['Rezerwat', None, '{Infobox film\n'], ['MaUVe', nan, nan], ['Spacemaker', nan, nan], ['Malink\xc3\xa9', None, 'REDIRECT [[Mandinka people]]\n\n{{Redirect category shell'], [' DJ Ren\xc3\xa9', nan, nan], [' Thomas Selditz', nan, nan], ['Cofer Brothers', nan, nan], ['Lee Brothers', nan, nan], ['Q Text', nan, nan], [' Laurie Klein', nan, nan], ['Ilse', '[[Ilze]], Ilsa', '{Infobox given name\n'], ['Kak', None, '{wiktionarypar'], [' Linda Grinder', nan, nan], ['Nico ALLSTARS', nan, nan], ['Grits', nan, nan], [' Dorian Baker', nan, nan], ['Macho Cat Garage', nan, nan], [' Enrico Ceravolo', nan, nan], [' Hispana Hombres', nan, nan], ['Triality', None, '{for'], ['Brotherly', None, 'redirect [[family]'], [' Fisher Hindley', nan, nan], [' Christian Frederick', None, 'redirect[[Christian VIII of Denmark]'], [' Paul Bennet', ' ', '{Infobox person\n'], ['Sylverblue', nan, nan], [' The Left Rights', None, 'REDIRECT [[Mindless Self Indulgence]'], [' Juliane Brandenburg', nan, nan], ['Sun Wenyan', '', '{Chinese name'], ['Sam', None, '{wiktionary'], [' Sextet  Jimmy  Elvin & Garrison Jones', nan, nan], [' John Bertrand', None, "''John Bertrand''' may refer to:\n\n* [[John Bertrand (sailor, born 1946)]] (born 1946), Australian Olympic and America's Cup sailor\n* [[John Bertrand (sailor, born 1956)]] (born 1956), American Olympic sailo"], [' Marina Phillips', nan, nan]]

In [107]:
a['name_formatted'][1]

' Pete Moutso'